header {padding: .5rem 0;background: #666;}
header img {width: 27.5%;}

nav .navs,nav .links {border-bottom: 1px solid #c9c9c9;height: 2.1rem;line-height: 2.1rem;width: 100%;}
nav .navs li {float: left;padding:0 .25rem;position: relative;}
nav .navs li.active a {color: #3399ff;}
nav .navs li.active {border-bottom: 1px solid #3399ff;}

nav .links {background: #f2f2f2;}
nav .links a {color: #515151;}
nav .links li {float: left;}
nav .links li:first-child {margin-left: .5rem;}
nav .links li + li:before {content: '>';float: left;margin: 0 .5rem;color: #515151;}

#nav {position: fixed;bottom: 0;width: 100%;color: #b1b1b2;padding: .25rem 0;border-top: 1px solid #c9c9c9;}
#nav i {font-size: 1.5rem;width: 20%;display: inline-block;float: left;}
#nav div {font-size: .7rem;color: #868686;}


/*中间的内容*/
#content {overflow: auto;}
#loading {height: 100%;}
#loading:before,#loading:after {content: '';display: inline-block;height: 100%;vertical-align: middle;}
/*首页*/
#page-home .common-title {font-size:0;width: 80%;margin: 0 auto;text-align: center;border-bottom: 1px solid #e6e6e6;padding: 1rem 0 .5rem 0;}
#page-home .common-title span {margin: 0 .4rem 0 .4rem;vertical-align: middle;font-size: .8rem;}
#page-home .common-title:before,#page-home .common-title:after {content: '';width: 5px;height: 20px;background: #31b7be;display: inline-block;vertical-align: middle;}
#page-home .block1 .gatx {padding: .5rem .5rem;border-bottom: 1px solid #d7d7d7;}
#page-home .block1 .ga {color: #ff765f;}
#page-home .block1 .line {width: 1px;height: 1.1rem;background: #f00;}
#page-home .block1 .detail {width: 83%;color: #5e5e5e;}

#page-home .block1 .good {padding: .7rem .7rem;border-bottom: 1px solid #d7d7d7;}
#page-home .block1 .good li {float: left;width: 25%;}
#page-home .block1 .good img {width: 2rem;}


#page-home .block2 .top {padding: 1.1rem .5rem .9rem .5rem;}
#page-home .block2 ul img {width: 6.9rem;vertical-align: top;}
#page-home .block2 ul .con {width: 11.4rem;color: #797979;vertical-align: top;margin-top: -2px;margin-left: .5rem;}
#page-home .block2 ul .con div {color: #b8b8b8;}
#page-home .block2 .lists {border: 1px solid #d7d7d7;border-left: 0;border-right: 0;}
#page-home .block2 .lists li {width: 6.85rem;text-align: center;float: left;padding: 5px 0;min-height: 1.5rem;line-height: 1.5rem;}
#page-home .block2 .lists li+li {border-left: 1px solid #d7d7d7;}
#page-home .block2 .lists li:first-child {color: #ff6600;font-weight: bold;font-size: 1rem;}
#page-home .block2 .lists li:first-child + li {color: #f37777;}
#page-home .block2 .lists li:first-child + li span {color: #333;}
#page-home .block2 .lists a {color: #3399ff;}

#page-home .block3 ul {width: 17.8rem;}
#page-home .block3 img {width: 100%;}
#page-home .block3 li > div {position: relative;width: 8.5rem;}
#page-home .block3 .txt {width:100%;position: absolute;bottom: 0;color: #fff;background: rgba(0,0,0,.6);padding: 4px 0;}
#page-home .block3 .txt span {display: block;width: 95%;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#page-home .block3 ul li div:first-child {float: left;}
#page-home .block3 ul li div:first-child + div {float: right;}
#page-home .block3 ul li + li {margin-top: .8rem;}

#page-home .block4 .nav {width: 12.9rem;padding-top: .6rem;}
#page-home .block4 .nav li {float: left;width: 4.3rem;text-align: center;}
#page-home .block4 .nav li.active span {border-bottom: 2px solid #3399ff;padding-bottom: 5px;}
#page-home .block4 .con {width: 17.8rem;margin: 0 auto;}
#page-home .block4 .con img {width: 5.9rem;}
#page-home .block4 .con li {padding: 1.2rem 0 1rem 0;border-bottom: 1px solid #dedede;}
#page-home .block4 .con li > div {width: 11rem;margin-left: .6rem;height: 4.25rem;float: right;position: relative;}
#page-home .block4 .con span {color: #989898;font-size: .7rem;position: absolute;bottom: 0;right: 0;}
#page-home .block4 .con .more {border: 0;}
#page-home .block4 .con .more a,#page-home .block4 .con .more i {color: #31b7be;font-size: .9rem;}

#page-home .block5 .concat {border: 1px solid #e4e4e4;width: 88%;padding: 1rem 0;}
#page-home .block5 .concat li {width: 72%;margin: 0 auto;}
#page-home .block5 .concat .icon {color: #f04e4e;font-size: 1.2rem;}

#page-home .block5 .qr {width: 88%;border: 1px solid #e4e4e4;padding: 1rem 0;font-size: .6rem;color: #a1a1a1;margin-top: 1rem;}
#page-home .block5 .qr > div {width: 72%;}
#page-home .block5 .qr img {margin-bottom: 3px;width: 5.9rem;}
#page-home .block5 .copyright {background: #000;color: #fff;padding: .5rem 0;}

/*案例页面*/
#page-case li {padding: 1rem 0;}
#page-case li + li {border-top: 1px solid #d7d7d7;}
#page-case li > div {margin-left: .8rem;}
#page-case img {width: 6.75rem;float: left;}
#page-case img {width: 6.75rem;float: left;}
#page-case .con {width: 11rem;margin-left: 1.1rem;margin-top: -2px;}
#page-case .con div {color: #b6b7b6;font-size: .7rem;margin-top: 10px;}
#page-case a {color: #3399ff;}
#page-case .more {border: 0;}
#page-case .more a,#page-home .block4 .con .more i {color: #31b7be;font-size: .9rem;}

/*解决方案详情页面*/
#page-solutionD {width: 17.95rem;margin: 0 auto;padding: 1.5rem 0;}
#page-solutionD .banner {width: 100%;}
#page-solutionD .title {color: #494949;padding: .75rem 0;}
#page-solutionD .tag {margin-left: -.5rem;}
#page-solutionD .tag span {margin: 0 0 .5rem .5rem;padding: 2px 3px;font-size: .7rem;color: #fff;display: inline-block;float: left;border-radius: 2px;}
#page-solutionD .pp {height: 1.4rem;line-height: 1.4rem;margin-left: -.1rem;}
#page-solutionD .pp span:first-child + span {color: #a6a7a6;}
#page-solutionD .detail .top {width: 25%;float: left;background: #dedede;color: #565041;padding: 5px 6px;box-sizing: border-box;border-bottom: 1px solid #00a3ff;margin-top: .5rem;}
#page-solutionD .detail .top.active {background: #00a3ff;color: #fff;}
#page-solutionD .detail .title {color: #f47d7d;margin: .5rem 0;}
#page-solutionD .detail .title .line {width: 1.5rem;height: 2px;background: #d8d8d8;}
#page-solutionD .detail .title .dian {width: .3rem;height: .3rem;border-radius: .3rem;background: #d8d8d8;}
#page-solutionD .detail p {color: #747774;text-align: left;}
#page-solutionD .detail .sprite-sm + div {width: 5.6rem;color: #9c9e9c;font-size: .8rem;}
#page-solutionD .detail .sprite-sm + div > div {color: #363636;margin-bottom: 5px;font-size: .7rem;}
#page-solutionD .detail .price-sm {border-collapse: collapse;}
#page-solutionD .detail .price-sm td {border: 1px solid #eaeaea;padding: .4rem .25rem;}
#page-solutionD .detail .price-sm td:first-child {border-left: 0;}
#page-solutionD .detail .price-sm td:first-child + td {border-right: 0;}
#page-solutionD .detail .price-db {width: 100%;background: #f3f3f3;border: 1px solid #ededee;border-collapse: collapse;font-size: .7rem;}
#page-solutionD .detail .price-db tr:first-child {color: #f37777;font-size: .8rem;}
#page-solutionD .detail .price-db td {border: 1px solid #fff;padding: .4rem .25rem}
#page-solutionD .detail .price-db tr.active {color: #fff;background: #f37777;}
#page-solutionD .detail .s-tit {color: #9c9e9c;}
#page-solutionD .detail .report {border: 1px solid #00a4ff;padding: .9rem 0;color: #979997;}
#page-solutionD .detail .report table {width: 96%;}
#page-solutionD .detail .report .txt {width: 160px;line-height: 30px;left: 38px;top: -15px;background: #fff;}
#page-solutionD .detail .process li span,#solution .detail .process li div {display: inline-block;float: left;}
#page-solutionD .detail .process li {float: left;color: #5d5f5d;margin-top: .75rem;}
#page-solutionD .detail .process li div {width: 12rem;margin-left: 1.5rem;position: relative;}
#page-solutionD .detail .process li div:before {content: '';width: 4px;position: absolute;left: -19px;top: 2px;background: #7ce216;display: block;height: 10000px;}
#page-solutionD .detail .process li:last-child div:before {background: #fff;width: 6px;margin-left: -1px;}
#page-solutionD .detail .process li div:after {content: '';width: 12px;height: 12px;position: absolute;left: -23px;top: 2px;display: block;background: url(data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/4QMqaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjUtYzAxNCA3OS4xNTE0ODEsIDIwMTMvMDMvMTMtMTI6MDk6MTUgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Qzg0NjgyNzg4QjY2MTFFOEFGOTVGQ0FBRDQ3NzE4MTkiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Qzg0NjgyNzk4QjY2MTFFOEFGOTVGQ0FBRDQ3NzE4MTkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpDODQ2ODI3NjhCNjYxMUU4QUY5NUZDQUFENDc3MTgxOSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpDODQ2ODI3NzhCNjYxMUU4QUY5NUZDQUFENDc3MTgxOSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pv/uAA5BZG9iZQBkwAAAAAH/2wCEAAYEBAQFBAYFBQYJBgUGCQsIBgYICwwKCgsKCgwQDAwMDAwMEAwODxAPDgwTExQUExMcGxsbHB8fHx8fHx8fHx8BBwcHDQwNGBAQGBoVERUaHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fH//AABEIAAwADAMBEQACEQEDEQH/xAB/AAADAQAAAAAAAAAAAAAAAAAAAgQHAQABBQEAAAAAAAAAAAAAAAABAAIDBAUGEAAABAQEBAcAAAAAAAAAAAABAgMUABITBfARQRYhUXEEIkJEhBUlBhEAAAQEBQEJAAAAAAAAAAAAARESEwBBAgPwMVEEFIFh4fEiMkKCIyT/2gAMAwEAAhEDEQA/AN9tVpR/QIKXO5KKKGVOcqKJTiUqJSjkAAAa8I5jZbKnfUjevCIiIiQH6e+M+1aC8CqvCInlxe7adnpOJHmfjpST05uekVH7rnDWKVkqaSNJ6xGupTRzz7IO6f8AyHd7acUJxdyyUqnmpz69IF512vhrSfmySc0nCrUoWjKenSH+g2/6h84927xjOH/l4vvcX83MYOD9bc1H1OP/2Q==);}
#page-solutionD .detail .questions div {color: #f37777;}
#page-solutionD .detail .questions p {margin-top: 10px;color: #979997;}

.sprite-sm{background:url(/static/phoneImages/solution/sprite-sm.jpg)  no-repeat;}
.sm3{height:46px;width:46px;background-position:0 0;}
.sm4{height:46px;width:46px;background-position:-46px 0;}
.sm2{height:46px;width:46px;background-position:-92px 0;}
.sm0{height:46px;width:46px;background-position:-138px 0;}
.sm1{height:46px;width:46px;background-position:-184px 0;}

.sprite-pr{background:url(/static/phoneImages/solution/sprite-pr.jpg)  no-repeat;}
.pr3{height:15px;width:15px;background-position:0 0;}
.pr4{height:15px;width:15px;background-position:-15px 0;}
.pr2{height:15px;width:15px;background-position:-30px 0;}
.pr0{height:15px;width:15px;background-position:-45px 0;}
.pr1{height:15px;width:15px;background-position:-60px 0;}

/*解决方案页面*/
#page-solution .common-title {font-size:0;width: 80%;margin: 0 auto;text-align: center;border-bottom: 1px solid #e6e6e6;padding: 1rem 0 .5rem 0;}
#page-solution .common-title span {margin: 0 .4rem 0 .4rem;vertical-align: middle;font-size: .8rem;}
#page-solution .common-title:before,#page-solution .common-title:after {content: '';width: 5px;height: 20px;background: #31b7be;display: inline-block;vertical-align: middle;}
#page-solution .block1 .gatx {padding: .5rem .5rem;border-bottom: 1px solid #d7d7d7;}
#page-solution .block1 .ga {color: #ff765f;}
#page-solution .block1 .line {width: 1px;height: 1.1rem;background: #f00;}
#page-solution .block1 .detail {width: 83%;color: #5e5e5e;}

#page-solution .block2 .top {padding: 1.1rem .5rem .9rem .5rem;}
#page-solution .block2 ul img {width: 6.9rem;vertical-align: top;}
#page-solution .block2 ul .con {width: 11.4rem;color: #797979;vertical-align: top;margin-top: -2px;margin-left: .5rem;}
#page-solution .block2 ul .con div {color: #b8b8b8;}
#page-solution .block2 .lists {border: 1px solid #d7d7d7;border-left: 0;border-right: 0;}
#page-solution .block2 .lists li {width: 6.85rem;text-align: center;float: left;padding: 5px 0;min-height: 1.5rem;line-height: 1.5rem;}
#page-solution .block2 .lists li+li {border-left: 1px solid #d7d7d7;}
#page-solution .block2 .lists li:first-child {color: #ff6600;font-weight: bold;font-size: 1rem;}
#page-solution .block2 .lists li:first-child + li {color: #f37777;}
#page-solution .block2 .lists li:first-child + li span {color: #333;}
#page-solution .block2 .lists a {color: #3399ff;}

#page-solution .block3 table {border-collapse: collapse;border: 1px solid}
#page-solution .block3 table tr {border: 1px solid #fff;background: #94dea2;}
#page-solution .block3 table th,#page-solution .block3 table td {border: 1px solid #fff;padding: 5px 10px;}

#page-solution .block4 .zj .more {border: 0;}
#page-solution .block4 .zj .more a,#page-home .block4 .con .more i {color: #31b7be;font-size: .9rem;}
#page-solution .block4 .price-db {width: 100%;background: #f3f3f3;border: 1px solid #ededee;border-collapse: collapse;font-size: .7rem;}
#page-solution .block4 .price-db tr:first-child {color: #f37777;font-size: .8rem;}
#page-solution .block4 .price-db td {border: 1px solid #fff;padding: .4rem .25rem}
#page-solution .block4 .price-db tr.active {color: #fff;background: #40bafd;}
#page-solution .block4 .zj {width: 85%;}
#page-solution .block4 .zj p {color: #b6b7b6;}
#page-solution .block4 .zj span {color: #5d5f5d;}
#page-solution .block4 .zj .more {border: 0;}
#page-solution .block4 .zj .more a,#page-home .block4 .con .more i {color: #31b7be;font-size: .9rem;}
#page-solution .block4 .zj li > div {display: inline-block;width: 168px;}
#page-solution .block4 .zj li > div:first-child {float: left;}
#page-solution .block4 .zj li > div:first-child + div {float: right;}














