header {padding: .5rem 0;background: #666;}
header img {width: 27.5%;}

nav .navs,nav .links {border-bottom: 1px solid #c9c9c9;height: 2.1rem;line-height: 2.1rem;width: 100%;}
nav .navs li {float: left;padding:0 .25rem;position: relative;}
nav .navs li.active a {color: #3399ff;}
nav .navs li.active {border-bottom: 1px solid #3399ff;}

nav .links {background: #f2f2f2;}
nav .links a {color: #515151;}
nav .links li {float: left;}
nav .links li:first-child {margin-left: .5rem;}
nav .links li + li:before {content: '>';float: left;margin: 0 .5rem;color: #515151;}

#nav {position: fixed;bottom: 0;width: 100%;color: #b1b1b2;padding: .25rem 0;border-top: 1px solid #c9c9c9;}
#nav i {font-size: 1.5rem;width: 20%;display: inline-block;float: left;}
#nav div {font-size: .7rem;color: #868686;}


/*中间的内容*/
#content {overflow: auto;}
#loading {height: 100%;}
#loading:before,#loading:after {content: '';display: inline-block;height: 100%;vertical-align: middle;}
/*首页*/
#page-home .common-title {font-size:0;width: 80%;margin: 0 auto;text-align: center;border-bottom: 1px solid #e6e6e6;padding: 1rem 0 .5rem 0;}
#page-home .common-title span {margin: 0 .4rem 0 .4rem;vertical-align: middle;font-size: .8rem;}
#page-home .common-title:before,#page-home .common-title:after {content: '';width: 5px;height: 20px;background: #31b7be;display: inline-block;vertical-align: middle;}
#page-home .block1 .gatx {padding: .5rem .5rem;border-bottom: 1px solid #d7d7d7;}
#page-home .block1 .ga {color: #ff765f;}
#page-home .block1 .line {width: 1px;height: 1.1rem;background: #f00;}
#page-home .block1 .detail {width: 83%;color: #5e5e5e;}

#page-home .block1 .good {padding: .7rem .7rem;border-bottom: 1px solid #d7d7d7;}
#page-home .block1 .good li {float: left;width: 25%;}
#page-home .block1 .good img {width: 2rem;}


#page-home .block2 .top {padding: 1.1rem .5rem .9rem .5rem;}
#page-home .block2 ul img {width: 6.9rem;vertical-align: top;}
#page-home .block2 ul .con {width: 11.4rem;color: #797979;vertical-align: top;margin-top: -2px;margin-left: .5rem;}
#page-home .block2 ul .con div {color: #b8b8b8;}
#page-home .block2 .lists {border: 1px solid #d7d7d7;border-left: 0;border-right: 0;}
#page-home .block2 .lists li {width: 6.85rem;text-align: center;float: left;padding: 5px 0;min-height: 1.5rem;line-height: 1.5rem;}
#page-home .block2 .lists li+li {border-left: 1px solid #d7d7d7;}
#page-home .block2 .lists li:first-child {color: #ff6600;font-weight: bold;font-size: 1rem;}
#page-home .block2 .lists li:first-child + li {color: #f37777;}
#page-home .block2 .lists li:first-child + li span {color: #333;}
#page-home .block2 .lists a {color: #3399ff;}

#page-home .block3 ul {width: 17.8rem;}
#page-home .block3 img {width: 100%;}
#page-home .block3 li > div {position: relative;width: 8.5rem;}
#page-home .block3 .txt {width:100%;position: absolute;bottom: 0;color: #fff;background: rgba(0,0,0,.6);padding: 4px 0;}
#page-home .block3 .txt span {display: block;width: 95%;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#page-home .block3 ul li div:first-child {float: left;}
#page-home .block3 ul li div:first-child + div {float: right;}
#page-home .block3 ul li + li {margin-top: .8rem;}

#page-home .block4 .nav {width: 12.9rem;padding-top: .6rem;}
#page-home .block4 .nav li {float: left;width: 4.3rem;text-align: center;}
#page-home .block4 .nav li.active span {border-bottom: 2px solid #3399ff;padding-bottom: 5px;}
#page-home .block4 .con {width: 17.8rem;margin: 0 auto;}
#page-home .block4 .con img {width: 5.9rem;}
#page-home .block4 .con li {padding: 1.2rem 0 1rem 0;border-bottom: 1px solid #dedede;}
#page-home .block4 .con li > div {width: 11rem;margin-left: .6rem;height: 4.25rem;float: right;position: relative;}
#page-home .block4 .con span {color: #989898;font-size: .7rem;position: absolute;bottom: 0;right: 0;}
#page-home .block4 .con .more {border: 0;}
#page-home .block4 .con .more a,#page-home .block4 .con .more i {color: #31b7be;font-size: .9rem;}

#page-home .block5 .concat {border: 1px solid #e4e4e4;width: 88%;padding: 1rem 0;}
#page-home .block5 .concat li {width: 72%;margin: 0 auto;}
#page-home .block5 .concat .icon {color: #f04e4e;font-size: 1.2rem;}

#page-home .block5 .qr {width: 88%;border: 1px solid #e4e4e4;padding: 1rem 0;font-size: .6rem;color: #a1a1a1;margin-top: 1rem;}
#page-home .block5 .qr > div {width: 72%;}
#page-home .block5 .qr img {margin-bottom: 3px;width: 5.9rem;}
#page-home .block5 .copyright {background: #000;color: #fff;padding: .5rem 0;}

/*案例页面*/
#page-case li {padding: 1rem 0;}
#page-case li + li {border-top: 1px solid #d7d7d7;}
#page-case li > div {margin-left: .8rem;}
#page-case img {width: 6.75rem;float: left;}
#page-case img {width: 6.75rem;float: left;}
#page-case .con {width: 11rem;margin-left: 1.1rem;margin-top: -2px;}
#page-case .con div {color: #b6b7b6;font-size: .7rem;margin-top: 10px;}
#page-case a {color: #3399ff;}
#page-case .more {border: 0;}
#page-case .more a,#page-home .block4 .con .more i {color: #31b7be;font-size: .9rem;}

/*解决方案页面*/
#solution {width: 17.95rem;margin: 0 auto;padding: 1.5rem 0;}
#solution .banner {width: 100%;}
#solution .title {color: #494949;padding: .75rem 0;}
#solution .tag {margin-left: -.5rem;}
#solution .tag span {margin: 0 0 .5rem .5rem;padding: 2px 3px;font-size: .7rem;color: #fff;display: inline-block;float: left;border-radius: 2px;}
#solution .pp {height: 1.4rem;line-height: 1.4rem;margin-left: -.1rem;}
#solution .pp span:first-child + span {color: #a6a7a6;}
#solution .detail .top {width: 25%;float: left;background: #dedede;color: #565041;padding: 5px 6px;box-sizing: border-box;border-bottom: 1px solid #00a3ff;margin-top: .5rem;}
#solution .detail .top.active {background: #00a3ff;color: #fff;}
#solution .detail .title {color: #f47d7d;margin: .5rem 0;}
#solution .detail .title .line {width: 1.5rem;height: 2px;background: #d8d8d8;}
#solution .detail .title .dian {width: .3rem;height: .3rem;border-radius: .3rem;background: #d8d8d8;}
#solution .detail p {color: #747774;text-align: left;}















