<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$metaTitle|default='海迈健康'}-海迈健康后台管理系统</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/admin/css/animate.min.css" rel="stylesheet">
    <link href="/admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    {block name="css"}{/block}
    <style type="text/css">
        .footer{
            background: none repeat scroll 0 0 white;
            border-top: 1px solid #e7eaec;
            bottom: 0;
            left: 0;
            padding: 10px 20px;
            position: absolute;
            right: 0;
        }
    </style>
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="/admin/img/profile_small.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">Beaut-zihan</strong></span>
                                <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
                                </li>
                                <li><a class="J_menuItem" href="profile.html">个人资料</a>
                                </li>
                                <li><a class="J_menuItem" href="contacts.html">联系我们</a>
                                </li>
                                <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="login.html">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">H+
                        </div>
                    </li>
                    {block name='sidebar'}
                        {include file="layout/sidebar" /}
                    {/block}

                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!-- 主体 -->
            <div id="page-wrapper" class="gray-bg dashbard-1">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message"><a href="{:\\think\\Url::build('Index/index')}" title="首页"><i class="fa fa-home"></i>首页</a></span>
                            </li>
                            <li>
                                <a href="{:\\think\\Url::build('Login/logout')}">
                                    <i class="fa fa-sign-out"></i> 退出
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                {block name="body"}
                这是内容
                {/block}
            
            <div class="footer">
                <div class="pull-right">
                    <strong>Copyright</strong>   hanmau © 2018
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
       
    </div>
        <script src="/admin/js/jquery.min.js?v=2.1.4"></script>
        <script src="/admin/js/bootstrap.min.js?v=3.3.6"></script>
        <script src="/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/admin/js/plugins/layer/layer.min.js"></script>
        <script src="/admin/js/hplus.min.js?v=4.1.0"></script>
        <script type="text/javascript" src="/admin/js/contabs.min.js"></script>
        <script src="/admin/js/plugins/pace/pace.min.js"></script>
        {block name="script"}{/block}

    </body>
</html>
