<li class="{if $action=='index'}active{/if}">
    <a href="/admin/index/index.html">
        <i class="fa fa-sitemap"></i>
        <span class="nav-label">首页</span>
    </a>
</li>

<li class="{if $action=='user'}active{/if}">
    <a>
        <i class="fa fa-home"></i>
        <span class="nav-label">logo管理</span>
        <span class="fa arrow m-l-xs"></span>
    </a>
    <ul class="nav nav-second-level">
        <li><a href="{:\\think\\Url::build('Index/logoSet')}">logo设置</a></li>
    </ul>
</li>

<li class="{if $action=='user'}active{/if}">
    <a>
        <i class="fa fa-home"></i>
        <span class="nav-label">管理员管理</span>
        <span class="fa arrow m-l-xs"></span>
    </a>
    <ul class="nav nav-second-level">
        <li><a href="{:\\think\\Url::build('User/index')}">管理员列表</a></li>
        <li class="{if $action=='user.create'}active{/if}"><a href="{:\\think\\Url::build('User/create')}">添加管理员</a></li>
    </ul>
</li>




