{extend name="layout:app"/}


<!--左侧导航结束-->
<!--右侧部分开始-->
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row content-tabs">
        <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
        </button>
        <nav class="page-tabs J_menuTabs">
            <div class="page-tabs-content">
                <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
            </div>
        </nav>
        <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
        </button>
        <div class="btn-group roll-nav roll-right">
            <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

            </button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right">
                <li class="J_tabShowActive"><a>定位当前选项卡</a>
                </li>
                <li class="divider"></li>
                <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                </li>
                <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                </li>
            </ul>
        </div>
        <a href="login.html" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
    </div>
    
    {block name="body"}
        <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>logo设置</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$metaTitle} </h5>
                </div>
                <div class="ibox-content p-xl-important">

                    <form class="form-horizontal" id="signupForm" method="post" action="{:\\think\\Url::build('Index/logoSave')}">
                        <div class="form-group input-large">
                            <label class=" control-label">用户名<span class="check-tips">（用户名会作为登录账号）</span></label>
                            <input class="form-control" type="text" name="title" required value="{$logo.title|default=''}">
                        </div>

                        <div class="form-group input-large">
                            <label class=" control-label">头像<span class="check-tips">(用户邮箱，用于找回密码等安全操作)</span></label>
                            <br /> <br />
                            <input class="" type="file" name="logo" >
                            <input type="hidden" name="old_logo" value="{$logo.logo|default=''}">
                            <img src="{$logo.logo|default=''}" style="width: 100px;">
                        </div>

                        <br />
                        <div class="form-group">
                            <button class="btn btn-w-m btn-primary" target-form="form-horizontal" type="submit">提交</button>
                            <button class="btn btn-w-m btn-default retreat">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
    {/block}
            
