/*样式库*/
.db {display: block!important;}
.ib {display: inline-block!important;}
.dt {display: table;}
.dtc {display: table-cell;}
.dn {display: none;}
.pr {position: relative;}
.pa {position: absolute;}
.vm {vertical-align: middle;}
.vb {vertical-align: bottom;}
.fl {float: left;}
.fr {float: right;}
.oh {overflow: hidden;}
.b {font-weight: bold;}
a {text-decoration: none;}
.wrapper {width: 1340px;margin: 0 auto;}
.w {width: 100%;}
.h {height: 100%;}

.fs12 {font-size: 12px!important;}
.fs13 {font-size: 13px!important;}
.fs14 {font-size: 14px!important;}
.fs15 {font-size: 15px!important;}
.fs16 {font-size: 16px!important;}
.fs17 {font-size: 17px!important;}
.fs18 {font-size: 18px!important;}
.fs19 {font-size: 19px!important;}
.fs20 {font-size: 20px!important;}

.fs22 {font-size: 22px!important;}
.fs24 {font-size: 24px!important;}
.fs25 {font-size: 25px!important;}
.fs26 {font-size: 26px!important;}
.fs28 {font-size: 28px!important;}
.fs30 {font-size: 30px!important;}
.fs32 {font-size: 32px!important;}

.cc {color: #ccc;}
.cf04e66 {color: #F04E66;}
.c51616b {color: #51616b;}
.cf00 {color: #f00;}
.c6 {color: #666;}
.c9 {color: #999;}
.c1c1c1 {color: #c1c1c1;}

.cf:before,.cf:after {
   content:"";
   display:table;
}
.cf:after { clear:both; }

/*默认样式*/
html,body {margin: 0;padding: 0;font: 12px/1.5 'Microsoft YaHei',arial;}


/*模块样式*/
header .ad-top {height: 60px;}
header .ad-top-close {right: 10px;top: 5px;color: #fff;padding: 3px;}

header .bar-logo {padding: 5px 0;}
header #logo {max-height: 40px;}
header .out-box {height: 40px;}
header .line-middle {display: table-cell;vertical-align: middle;height: 40px;}
