/*样式库*/
.db {display: block!important;}
.ib {display: inline-block!important;}
.dt {display: table!important;}
.dtc {display: table-cell!important;}
.dn {display: none!important;}
.pr {position: relative!important;}
.pa {position: absolute!important;}
.vm {vertical-align: middle!important;}
.vb {vertical-align: bottom!important;}
.fl {float: left!important;}
.fr {float: right!important;}
.oh {overflow: hidden!important;}
.tl {text-align: left!important;}
.tc {text-align: center!important;}
.wrapper {width: 1340px;margin: 0 auto!important;}
.ma {margin: 0 auto;}
.w {width: 100%!important;}
.h {height: 100%!important;}

.fw700 {font-weight: 700!important;}
.fw900 {font-weight: 700!important;}

a {text-decoration: none!important;}
ul,li {margin: 0;padding: 0;list-style: none!important;}

.fs12 {font-size: 12px!important;}
.fs13 {font-size: 13px!important;}
.fs14 {font-size: 14px!important;}
.fs15 {font-size: 15px!important;}
.fs16 {font-size: 16px!important;}
.fs17 {font-size: 17px!important;}
.fs18 {font-size: 18px!important;}
.fs19 {font-size: 19px!important;}
.fs20 {font-size: 20px!important;}

.fs22 {font-size: 22px!important;}
.fs24 {font-size: 24px!important;}
.fs25 {font-size: 25px!important;}
.fs26 {font-size: 26px!important;}
.fs28 {font-size: 28px!important;}
.fs30 {font-size: 30px!important;}
.fs32 {font-size: 32px!important;}
.fs33 {font-size: 33px!important;}
.fs34 {font-size: 34px!important;}
.fs35 {font-size: 35px!important;}
.fs36 {font-size: 36px!important;}

.c6 {color: #666!important;}
.c9 {color: #999!important;}
.c9 {color: #999!important;}
.cc {color: #ccc!important;}
.cf {color: #fff!important;}
.cf00 {color: #f00;}
.cf04e66 {color: #F04E66;}
.c51616b {color: #51616b;}
.c63727b {color: #63727b;}
.c1c1c1 {color: #c1c1c1;}
.c009eb6 {color: #009eb6;}
.cfd6501 {color: #fd6501;}
.cf05536 {color: #f05536;}
.c787878 {color: #787878;}
.c797979 {color: #797979;}

.bcff6600 {background: #ff6600;}


.clearfix:before,.clearfix:after {
   content:"";
   display:table;
}
.clearfix:after { clear:both; }

/*默认样式*/
html,body {margin: 0;padding: 0;font: 12px/1.5 'Microsoft YaHei',arial;}
input[type=search]::-webkit-search-cancel-button{
  display: none;
}


/*模块样式*/
header {z-index: 1000;}
header .gg-top {height: 60px;}
header .gg-top-close {right: 10px;top: 5px;color: #fff;padding: 3px;cursor: default;}

header .bar-logo {padding: 10px 0;}
header #logo {max-height: 40px;}
header .out-box {height: 40px;}
header .line-middle {display: table-cell;vertical-align: middle;height: 40px;}

header nav {width: 100%;height: 60px;line-height: 60px;background: #373d41;}
header nav .ul-title > li {float: left;width: 130px;font-size: 14px;position: relative;}
header nav .ul-title > li a {display: block;color: #a3b8c5;}
header nav .ul-title > li.active a {color: #fff;}
header nav .ul-title > li:hover ul {display: inline-block;}
header nav .ul-title > li:hover a {color: #fff;}
header nav .ul-title > li:hover .qr {display: inline-block!important;}

header nav .ul-title ul {min-width: 210px;background: #fff;position: absolute;top: 60px;left: 0;line-height: 45px;box-shadow: 0 0 6px 0 rgba(193, 193, 193, .8);display: none;}
header nav .ul-title ul li + li {border-top: 1px solid #d9e7ee;}
header nav .ul-title ul a {margin-left: 20px;padding-right: 20px;}
header nav .ul-title > li:hover ul a {color: #63727b;}
header nav .ul-title .qr {position: absolute;}

header nav #input-search {border: 0;background: rgb(67, 78, 85);outline: none;height: 60px;width: 270px;color: #fff;padding-left: 10px;}
header nav .btn-search {right: 0;top: 0;color: #98acb9;width: 40px;cursor: pointer;}


