#anli {margin-top: 30px;}
#anli li {float: left;text-align: center;width: 25%;}
#anli p {color: #666;width: 238px;margin: auto;}

#drug_title {height: 56px;line-height: 56px;border-bottom: 1px solid rgba(0,0,0,.07);margin-top: 68px;}
#drug_title h3 {border-left: 4px solid #00a4ff;padding-left: 15px;height: 25px;line-height: 25px;}

#hospital-list {margin-top: 37px;}
#hospital-list li {width: 1060px;height: 290px;box-shadow: 0 2px 15px 0 rgba(0,0,0,.15);margin: 0 auto 40px auto;}
#hospital-list p {line-height: 24px;font-size: 14px;height: 72px;overflow: hidden;}
#hospital-list p a {color: #00a4ff;float: right;}
#hospital-list li img {width: 374px;height: 290px;float: right;}
#hospital-list li > div {width: 613px;max-height: 227px;margin: 27px 0 0 20px;}
#hospital-list .title {color: #666;}
#hospital-list .title:hover {color: #00a4ff;}
#hospital-list .msg {padding: 16px 0;}
#hospital-list .msg > span {width: 50%;display: inline-block;float: left;height: 30px;line-height: 30px;overflow: hidden;}



