#product-loop {height: 371px;}
#product-loop .img {width: 100%;height: 100%;position: absolute;background-repeat: no-repeat;background-position: center center;background-size: cover;}
#product-loop .index {width: 100%;bottom: 0;}
#product-loop ul {color: rgba(255,255,255,.4);bottom: 0;}
#product-loop li {float: left;margin: 0 5px;cursor: default;}
#product-loop li.active {color: rgba(255,255,255,.8);}

#product-text {height: 80px;background: #2880a4;color: #a8cedc;font-size: 12px;}
#product-text .title {color: #fff;font-size: 13px;}
#product-text .text > li {float: left;text-align: center;width: 240px;height: 80px;border-right: 1px solid #3588aa;display: table-cell;vertical-align: middle;}
#product-text .text > li:first-child {border-left: 1px solid #3588aa;}
#product-text .text > li ul {vertical-align: middle;display: inline-block;line-height: 20px;margin-top: 10px;width: 180px;text-align: left;}

#introduce {height: 800px;background: url(/static/images/index/world-map.png) center 0 no-repeat;}
#introduce .txt0 {margin-top: 35px;}
#introduce .txt1 {margin-top: 28px;}
#introduce .txt2 {margin-top: 20px;border: 1px solid #fd6501;padding: 2px 29px;background: #fff;}

#supply {margin-top: 40px;}
#supply .content ul {width: 257px;font-size: 15px;}
#supply .content > li {float: left;border: 1px solid #00aed9;padding: 14px 8px 14px 15px;background: #fff;}
#supply .content > li li {line-height: 25px;}
#supply .content > li + li {margin-left: 27px;}
#supply div {width: 100px;height: 30px;line-height: 30px;text-align: center;color: #fff;background: #f05536;border: 1px solid #f05536;display: inline-block;margin-top: 6px;}
#supply a:first-child div {font-weight: bold;color: #333;background: #fff;border: 1px solid #333;margin-right: 20px;}

#introduce .title {margin-top: 58px;}
#introduce .introduce-detail {width: 1208px;line-height: 30px;border: 1px solid #e4e4e4;padding: 10px 20px;box-sizing: border-box;margin: 35px auto 0 auto;}

#process .content {margin-top: 55px;}
#process .content > li {float: left;width: 100px;font-size: 12px;line-height: 20px;color: #68767f;}
#process .content > li + li {margin-left: 75px;}
#process .content > li li:first-child + li {color: #5e5e5e;font-size: 15px;margin-bottom: 6px;}
#process img {width: 60px;}


#process .num li {float: left;position: relative;margin-top: 55px;}
#process .num li + li {margin-left: 143px;}
#process .num li + li:before {content: '';width: 143px;height: 1px;background: #e5e5e5;display: block;position: absolute;left: -143px;top: 50%;}
#process .num div {width: 30px;height: 30px;line-height: 30px;text-align: center;border: 1px solid #d9d9d9;border-radius: 100px;color: #a3bad2;font-size: 17px;}

#knowledge {}











