#left {width: 831px;min-height: 1366px;}
#left .content {width: 760px;margin-left: 22px;padding: 28px 0 44px 0;}
#left .content .tit {margin: 34px 0 30px 0;}
#left .content table {width: 100%;line-height: 35px;}
#left .content table a {color: #333;}