#introduce .txt0 {margin-top: 35px;}
#introduce .txt1 {margin-top: 28px;}
#introduce .txt2 {margin-top: 20px;border: 1px solid #fd6501;padding: 2px 29px;background: #fff;}

#supply {margin-top: 40px;}
#supply .content ul {width: 257px;font-size: 15px;}
#supply .content > li {float: left;border: 1px solid #00aed9;padding: 14px 8px 14px 15px;background: #fff;}
#supply .content > li li {line-height: 25px;}
#supply .content > li + li {margin-left: 27px;}
#supply div {width: 100px;height: 30px;line-height: 30px;text-align: center;color: #fff;background: #f05536;border: 1px solid #f05536;display: inline-block;margin-top: 6px;}
#supply a:first-child div {font-weight: bold;color: #333;background: #fff;border: 1px solid #333;margin-right: 20px;}

#process {margin-top: 47px;}
#process .content {margin-top: 55px;}
#process .content > li {float: left;width: 100px;font-size: 12px;line-height: 20px;color: #68767f;}
#process .content > li + li {margin-left: 75px;}
#process .content > li li:first-child + li {color: #5e5e5e;font-size: 15px;margin-bottom: 6px;}
#process img {width: 60px;}

#process .num li {float: left;position: relative;margin-top: 55px;}
#process .num li + li {margin-left: 143px;}
#process .num li + li:before {content: '';width: 143px;height: 1px;background: #e5e5e5;display: block;position: absolute;left: -143px;top: 50%;}
#process .num div {width: 30px;height: 30px;line-height: 30px;text-align: center;border: 1px solid #d9d9d9;border-radius: 100px;color: #a3bad2;font-size: 17px;}


#div-table {margin-top: 47px;}
#div-table .title {margin: 3px 0;}
#div-table .content {margin-top: 50px;}
#div-table .table {border-collapse: collapse;}
#div-table .table th {background: #66a3c3;color: #fff;}
#div-table .table td,#div-table .table th {border-collapse: collapse;border: 1px solid #999;width: 326px;height: 35px;padding: 3px 0;}
#div-table .zixun {width: 406px;height: 455px;background: #ff9933;}
#div-table .zixun table {width: 100%;}
#div-table .zixun td:first-child {width: 28%;text-align: center;color: #868686;}
#div-table .zixun td:only-child {width: 156px;}
#div-table .zixun td {text-align: left;padding-top: 8px;}
#div-table .zixun input {width: 90%;height: 30px;text-align: center;border: 1px solid #d7d7d7;}
#div-table .zixun textarea {width: 87%;resize: none;height: 87px;}
#div-table .zixun button {background: #ff9933;border:0;color: #fff;width: 89%;height: 30px;line-height: 30px;border-radius: 5px;font-size: 20px;font-weight: bold;cursor: pointer;}
#div-table .xing,#div-table .zhou {width: 100px!important;}
#div-table form {background: #fff;width: 392px;height: 390px;}

#div-table .table2 {border-collapse: collapse;width: 857px;}
#div-table .table2 tr:first-child td {background: #f2f2f2;line-height: 60px;color: #000;font-size: 14px;font-weight: bold;}
#div-table .table2 td:first-child {color: #000;font-size: 14px;}
#div-table .table2 td {border: 1px solid #e9e9e9;width: 214.25px;line-height: 45px;color: #726666;font-size: 12px;}
#div-table .logo {width: 406px;height: 186px;}
#div-table .logo img,#div-table .logo div {position: absolute;}
#div-table .logo .img0 {left: 0;}
#div-table .logo .img1 {right: 0;}
#div-table .logo .img2 {left: 0;bottom: 0;}
#div-table .logo .img3 {right: 0;bottom: 0;}
#div-table .logo .line0 {width: 100%;height: 1px;background: #e4e4e4;top: 50%;}
#div-table .logo .line1 {width: 1px;height: 100%;background: #e4e4e4;left: 50%;}

#process2 {margin-top: 47px;}
#process2 .content {margin-top: 95px!important;color: #373d41;}
#process2 .content li {display: inline-block;border: 1px solid #d7d8d9;background: url(/static/images/index/talk-bg.jpg) 95% 92% no-repeat;width: 255px;height: 177px;position: relative;}
#process2 .content li img {position: absolute;bottom: 0;left: 50%;margin-left: -94px;}
#process2 .content li + li {margin-left: 17px;}
#process2 .sprites-arrow {margin-top: 60px;}
.sprites-arrow{background:url(/static/images/index/sprites-arrow.jpg)  no-repeat;}
.arrow2{height:40px;width:19px;background-position:0 0;}
.arrow3{height:40px;width:20px;background-position:-19px 0;}
.arrow0{height:64px;width:59px;background-position:-39px 0;}
.arrow1{height:59px;width:62px;background-position:-98px 0;}

#any-question {width: 1193px;margin-top: 60px;}



















