<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>解决方案</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/hospitallist.css">
	<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">
	<script src="/static/js/plugins/require.js"></script>
	<script src="/static/js/config.js"></script>
</head>
<body>
	{include file="common/header" /}
	<img src="/static/images/hospitallist/banner.jpg" class="db ma" style="width: 100%;">
	<div class="wrapper">
		<ul id="anli" class="clearfix">
	        <li>
	            <img src="/static/images/hospitallist/anli1.png">
	            <h3 class="fs16">医疗健康拓建者</h3>
	            <p>
	                与医疗水平名列前茅的医院集团建立深度合作关系
	            </p>
	        </li>
	        <li>
	            <img src="/static/images/hospitallist/anli2.png">
	            <h3 class="fs16">开设绿色贵宾通道</h3>
	            <p>
	                为中国患者提供全面、权威、可靠的印度医疗旅游
	            </p>
	        </li>
	        <li>
	            <img src="/static/images/hospitallist/anli3.png">
	            <h3 class="fs16">医疗一站式服务</h3>
	            <p>
	                一站式医疗旅游服务平台，印度专家跨境远程会诊等技术支持
	            </p>
	        </li>
	        <li>
	            <img src="/static/images/hospitallist/anli4.png">
	            <h3 class="fs16">质优的海外医疗服务</h3>
	            <p>
	                为您找到最好的医生和最佳诊疗康复方案
	            </p>
	        </li>
	    </ul>
	    <div id="drug_title">
            <h3>
                权威医院
            </h3>
        </div>
        <ul id="hospital-list">
        	<li>
        		<div class="ib">
        			<span class="fs32"><a href="" class="title">普西帕瓦提·辛加尼亚研究院</a></span>
        			<p class="hzyl_left_info">
                        普西帕瓦提●辛加尼亚研究院强项在于肝，肾功能及消化系统疾病（PSRI医院），是南亚第一和消化内科，肾内科，泌尿外科和胃肠外科疾病的先进和全面的医疗和手术的管理印度首屈一指的超级专业研究所。提供全方位的医疗，外科管理服务。肾脏移植...
                        <a href="/quanweiyiyuan/147.html" target="_blank">点击查看医院详情&gt;&gt;</a>
                    </p>
                    <div class="msg">
                        <span>
                            <span>【所在城市】</span>德里-110017
                        </span>
                        <span>
                            <span>【ICU病房数】</span>21
                        </span>
                        <span>
                            <span>【手术室】</span>402
                        </span>
                        <span>
                            <span>【病床数】</span>106
                        </span>
                        <span>
                            <span>【医院地址】</span>谢赫萨莱2区马格安斐地
                        </span>
                        <span>
                            <span>【支付方式】</span>刷卡，现金，电汇
                        </span>
	                </div>
        		</div>
        		<a href="">
        			<img src="/static/images/hospitallist/hospital-img0.png">
        		</a>
        	</li>
        	<li>
        		<div class="ib">
        			<span class="fs32"><a href="" class="title">普西帕瓦提·辛加尼亚研究院</a></span>
        			<p class="hzyl_left_info">
                        普西帕瓦提●辛加尼亚研究院强项在于肝，肾功能及消化系统疾病（PSRI医院），是南亚第一和消化内科，肾内科，泌尿外科和胃肠外科疾病的先进和全面的医疗和手术的管理印度首屈一指的超级专业研究所。提供全方位的医疗，外科管理服务。肾脏移植...
                        <a href="/quanweiyiyuan/147.html" target="_blank">点击查看医院详情&gt;&gt;</a>
                    </p>
                    <div class="msg">
                        <span>
                            <span>【所在城市】</span>德里-110017
                        </span>
                        <span>
                            <span>【ICU病房数】</span>21
                        </span>
                        <span>
                            <span>【手术室】</span>402
                        </span>
                        <span>
                            <span>【病床数】</span>106
                        </span>
                        <span>
                            <span>【医院地址】</span>谢赫萨莱2区马格安斐地
                        </span>
                        <span>
                            <span>【支付方式】</span>刷卡，现金，电汇
                        </span>
	                </div>
        		</div>
        		<a href="">
        			<img src="/static/images/hospitallist/hospital-img0.png">
        		</a>
        	</li>
        	<li>
        		<div class="ib">
        			<span class="fs32"><a href="" class="title">普西帕瓦提·辛加尼亚研究院</a></span>
        			<p class="hzyl_left_info">
                        普西帕瓦提●辛加尼亚研究院强项在于肝，肾功能及消化系统疾病（PSRI医院），是南亚第一和消化内科，肾内科，泌尿外科和胃肠外科疾病的先进和全面的医疗和手术的管理印度首屈一指的超级专业研究所。提供全方位的医疗，外科管理服务。肾脏移植...
                        <a href="/quanweiyiyuan/147.html" target="_blank">点击查看医院详情&gt;&gt;</a>
                    </p>
                    <div class="msg">
                        <span>
                            <span>【所在城市】</span>德里-110017
                        </span>
                        <span>
                            <span>【ICU病房数】</span>21
                        </span>
                        <span>
                            <span>【手术室】</span>402
                        </span>
                        <span>
                            <span>【病床数】</span>106
                        </span>
                        <span>
                            <span>【医院地址】</span>谢赫萨莱2区马格安斐地
                        </span>
                        <span>
                            <span>【支付方式】</span>刷卡，现金，电汇
                        </span>
	                </div>
        		</div>
        		<a href="">
        			<img src="/static/images/hospitallist/hospital-img0.png">
        		</a>
        	</li>
        </ul>

	</div>
	
	<!-- footer -->
	<div style="margin-top: 30px">
		{include file="common/footer" /}
	</div>
</body>
</html>