<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">
	<script src="/static/js/plugins/require.js"></script>
	<script src="/static/js/config.js"></script>
</head>
<body>
	<header>
		<!-- top 广告 -->
		<div class="pr" style="background: #080832;">
			<a href="">
				<div class="wrapper ad-top" style="background: url(/static/images/index/ad_top.png) center center no-repeat;background-size: cover;">
				</div>
			</a>
			<i class="iconfont icon-guanbi pa ad-top-close"></i>
		</div>
		
		<!-- logo 栏 -->
		<div class="wrapper bar-logo clearfix">
			<!-- logo -->
			<div class="fl out-box">
				<span class="line-middle" style="width: 168px;">
					<a href="">
						<img src="/static/images/logo.png" id="logo">
					</a>
				</span>
			</div>
			<!-- 分隔竖线 -->
			<div class="fl out-box">
				<span class="line-middle" style="width: 42px;">
					<span class="fl ib" style="width: 2px;height: 35px;background: #ccc;margin: 0 20px;"></span>
				</span>
			</div>
			<!-- 口号 -->
			<div class="fl out-box">
				<span class="line-middle" style="width: 160px;">
					<span class="ib c1c1c1">
						印度医疗旅游专业平台<br>
						让丙肝患者有更多更好的选择
					</span>
				</span>
			</div>
			<!-- 右边浮动 -->
			<div class="fr">
				<div class="fl out-box">
					<span class="line-middle" style="width: 197px;">
						<i class="iconfont icon-shizhongtubiao b cf04e66 vm fs16"></i>
						<span class="b vm c51616b fs14">8:30AM TO  5:30PM</span>
					</span>
				</div>

				<div class="fl out-box">
					<span class="line-middle" style="width: 160px;">
						<i class="iconfont icon-shouji-man b cf04e66 vm fs18"></i>
						<span class="b vm c51616b fs14">133-9980-6488</span>
					</span>
				</div>

				<div class="fl out-box">
					<span class="line-middle" style="width: 138px;">
						<i class="iconfont icon-dianhua b cf04e66 vm fs14"></i>
						<span class="b vm c51616b fs14">400-188-2515</span>
					</span>
				</div>

				<div class="fl out-box">
					<span class="line-middle" style="width: 280px;">
						<a href="" class="cf00">端午节优惠活动来袭，健康直邮服务减免服务费啦！</a>
					</span>
				</div>
			</div>
		</div>

		<!-- Nav 导航栏 -->
		<nav>
			<div class="wrapper content">
				<ul class="ul-title">
					<li class="active">
						<a href="javascript:void(0);">全站首页		</a>
						<ul>
							<li><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0);">解决方案		</a>
						<ul>
							<li><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0);">知识&amp;咨询	</a>
						<ul>
							<li><a href="">丙肝知识</a></li>
							<li><a href="">说明书</a></li>
							<li><a href="">行业资讯</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0);">医疗资源		</a>
						<ul>
							<li><a href="">医院列表</a></li>
							<li><a href="">合作医生</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0);">转阴案例		</a>
						<ul>
							<li><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0);">关于&amp;联系	</a>
						<ul>
							<li><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0);">关注我们		</a>
						<div class="qr dn">
							<img src="http://www.huayinyiliao.com/templets/default/images/index/wechat_code1.png">
						</div>
					</li>
					
					<!-- 向右浮动，调整dom顺序 -->
					<li class="fr vt pr" style="width: auto;">
						<form>
							<input type="search" name="search" id="input-search" class="vb" placeholder="输入您想查找内容的关键词进行搜索">
							<i class="iconfont icon-sousuo btn-search pa b tc">
								<button type="submit" class="dn"></button>
							</i>
						</form>
					</li>
					<li class="bcff6600 tc fs18 fr">
						<a href="" class="cf vt">互助问答	</a>
					</li>
					
				</ul>
			</div>
		</nav>
		<div style="width: 100%;background: #f00;">
			123
		</div>
	</header>
	<script>
		require(['jquery'], function ($) {

		})
	</script>
</body>
</html>