<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻列表页面</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/newsdetail.css">
	<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">
	<script src="/static/js/plugins/require.js"></script>
	<script src="/static/js/config.js"></script>
</head>
<body>
	
	<div style="background: #f2f2f2;padding: 24px 0 15px 0;">
		<div class="wrapper clearfix">
			<div id="left" class="fl bf">
				<div class="content">
					<img src="/static/images/newsdetail/left-top-gg.jpg">
					<div class="tit fs36 fw700 c63727b">
						丙肝的基础知识100条问答
					</div>
					<div class="c8 mb30">
						<i class="icon"></i>
						海迈小苏
						<i class="ml10 icon fs18 fw700"></i>
						2018/06/09
						<i class="ml10 icon"></i>
						丙肝知识
						<i class="ml10 icon"></i>
						24浏览
					</div>
					<pre>这里填写后台编辑的内容</pre>
					<div class="flag">
						<span class="ib">肝病</span>
						<span class="ib">肝癌</span>
						<span class="ib">肝硬化</span>
						<span class="ib">肝硬化代偿期</span>
						<span class="ib">转氨酶升高</span>
					</div>
					<div class="copyright-outer-line">
                        <div class="yq-blog-sem-remove">
                            <h4 class="title">免责声明</h4>
                            <div class="con">
                                由本文所表达的任何关于疾病的建议都不应该被视为医生的建议或替代品，请咨询您的治疗医生了解更多细节。本站信息仅供参考，华印医疗不承担任何责任。
                            </div>
                        </div>
                    </div>
					<div style="margin: 33px 0 43px 0;">
						<div class="ib"><span>上一篇：</span><a href="" class="c3">用好了</a></div>
						<div class="ib" style="margin-left: 140px;"><span>下一篇：</span><a href="" class="c3">没有了</a></div>
					</div>
					<div class="clearfix">
						<span class="fl fs16">相关阅读</span>
						<span class="fr"><a href="" class="c3">更多&gt;</a></span>
					</div>
					<div style="height: 1px;background: #e9e9e9;margin: 25px 0 13px 0;"></div>
					<table>
						<tr>
							<td><a href="">用好了PD-1药物keytruda，疗效翻倍！</a></td>
							<td><a href="">用好了PD-1药物keytruda，疗效翻倍！</a></td>
						</tr>
						<tr>
							<td><a href="">用好了PD-1药物keytruda，疗效翻倍！</a></td>
							<td><a href="">用好了PD-1药物keytruda，疗效翻倍！</a></td>
						</tr>
						<tr>
							<td><a href="">用好了PD-1药物keytruda，疗效翻倍！</a></td>
							<td><a href="">用好了PD-1药物keytruda，疗效翻倍！</a></td>
						</tr>
						<tr>
							<td><a href="">用好了PD-1药物keytruda，疗效翻倍！</a></td>
							<td><a href="">用好了PD-1药物keytruda，疗效翻倍！</a></td>
						</tr>
					</table>
				</div>
			</div>
			<div id="right" class="fl ml20">
				<div class="bf">
					{include file="common/side-right-zhuanjia" /}
				</div>
				<div class="mt10 bf">
					{include file="common/side-right-shz" /}
				</div>
				<div class="bf mt10" style="width: 382px;padding: 15px 0;">
					{include file="common/side-right-gjc" /}
				</div>
				
			</div>
		</div>
		<div style="margin-top: 15px;">
			{include file="common/footer" /}
		</div>
	</div>
	
</body>
</html>