<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻列表页面</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/newslist.css">
	<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">
	<script src="/static/js/plugins/require.js"></script>
	<script src="/static/js/config.js"></script>
</head>
<body>
	{include file="common/header" /}
	{include file="common/nav-address" /}
	<div style="background: #f2f2f2;padding: 24px 0 15px 0;">
		<div class="wrapper clearfix">
			<div class="clearfix">
				<div id="left" class="fl">
					<img src="/static/images/newslist/left-top-gg.jpg">
					<ul>
						<li>
							<img src="/static/images/newslist/slt.jpg" class="vt">
							<div class="ib vt c8">
								<span>国内外丙肝治疗费用对比</span>
								<div>
									<i class="icon">&#xe603;</i>
									海迈小苏
									<i class="ml10 icon fs18 fw700">&#xe609;</i>
									2018/06/09
									<i class="ml10 icon">&#xe621;</i>
									丙肝知识
									<i class="ml10 icon">&#xe625;</i>
									24浏览
								</div>
								<p>
									实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找
									<a href="">查看详情</a>
								</p>
							</div>
						</li>
						<li>
							<img src="/static/images/newslist/slt.jpg" class="vt">
							<div class="ib vt c8">
								<span>国内外丙肝治疗费用对比</span>
								<div>
									<i class="icon">&#xe603;</i>
									海迈小苏
									<i class="ml10 icon fs18 fw700">&#xe609;</i>
									2018/06/09
									<i class="ml10 icon">&#xe621;</i>
									丙肝知识
									<i class="ml10 icon">&#xe625;</i>
									24浏览
								</div>
								<p>
									实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找
									<a href="">查看详情</a>
								</p>
							</div>
						</li>
						<li>
							<img src="/static/images/newslist/slt.jpg" class="vt">
							<div class="ib vt c8">
								<span>国内外丙肝治疗费用对比</span>
								<div>
									<i class="icon">&#xe603;</i>
									海迈小苏
									<i class="ml10 icon fs18 fw700">&#xe609;</i>
									2018/06/09
									<i class="ml10 icon">&#xe621;</i>
									丙肝知识
									<i class="ml10 icon">&#xe625;</i>
									24浏览
								</div>
								<p>
									实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找
									<a href="">查看详情</a>
								</p>
							</div>
						</li>
						<li>
							<img src="/static/images/newslist/slt.jpg" class="vt">
							<div class="ib vt c8">
								<span>国内外丙肝治疗费用对比</span>
								<div>
									<i class="icon">&#xe603;</i>
									海迈小苏
									<i class="ml10 icon fs18 fw700">&#xe609;</i>
									2018/06/09
									<i class="ml10 icon">&#xe621;</i>
									丙肝知识
									<i class="ml10 icon">&#xe625;</i>
									24浏览
								</div>
								<p>
									实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找
									<a href="">查看详情</a>
								</p>
							</div>
						</li>
						<li>
							<img src="/static/images/newslist/slt.jpg" class="vt">
							<div class="ib vt c8">
								<span>国内外丙肝治疗费用对比</span>
								<div>
									<i class="icon">&#xe603;</i>
									海迈小苏
									<i class="ml10 icon fs18 fw700">&#xe609;</i>
									2018/06/09
									<i class="ml10 icon">&#xe621;</i>
									丙肝知识
									<i class="ml10 icon">&#xe625;</i>
									24浏览
								</div>
								<p>
									实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找
									<a href="">查看详情</a>
								</p>
							</div>
						</li>
						<li>
							<img src="/static/images/newslist/slt.jpg" class="vt">
							<div class="ib vt c8">
								<span>国内外丙肝治疗费用对比</span>
								<div>
									<i class="icon">&#xe603;</i>
									海迈小苏
									<i class="ml10 icon fs18 fw700">&#xe609;</i>
									2018/06/09
									<i class="ml10 icon">&#xe621;</i>
									丙肝知识
									<i class="ml10 icon">&#xe625;</i>
									24浏览
								</div>
								<p>
									实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找
									<a href="">查看详情</a>
								</p>
							</div>
						</li>
						<li>
							<img src="/static/images/newslist/slt.jpg" class="vt">
							<div class="ib vt c8">
								<span>国内外丙肝治疗费用对比</span>
								<div>
									<i class="icon">&#xe603;</i>
									海迈小苏
									<i class="ml10 icon fs18 fw700">&#xe609;</i>
									2018/06/09
									<i class="ml10 icon">&#xe621;</i>
									丙肝知识
									<i class="ml10 icon">&#xe625;</i>
									24浏览
								</div>
								<p>
									实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找
									<a href="">查看详情</a>
								</p>
							</div>
						</li>
						<li>
							<img src="/static/images/newslist/slt.jpg" class="vt">
							<div class="ib vt c8">
								<span>国内外丙肝治疗费用对比</span>
								<div>
									<i class="icon">&#xe603;</i>
									海迈小苏
									<i class="ml10 icon fs18 fw700">&#xe609;</i>
									2018/06/09
									<i class="ml10 icon">&#xe621;</i>
									丙肝知识
									<i class="ml10 icon">&#xe625;</i>
									24浏览
								</div>
								<p>
									实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找
									<a href="">查看详情</a>
								</p>
							</div>
						</li>
						<li>
							<img src="/static/images/newslist/slt.jpg" class="vt">
							<div class="ib vt c8">
								<span>国内外丙肝治疗费用对比</span>
								<div>
									<i class="icon">&#xe603;</i>
									海迈小苏
									<i class="ml10 icon fs18 fw700">&#xe609;</i>
									2018/06/09
									<i class="ml10 icon">&#xe621;</i>
									丙肝知识
									<i class="ml10 icon">&#xe625;</i>
									24浏览
								</div>
								<p>
									实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找
									<a href="">查看详情</a>
								</p>
							</div>
						</li>
						<li>
							<img src="/static/images/newslist/slt.jpg" class="vt">
							<div class="ib vt c8">
								<span>国内外丙肝治疗费用对比</span>
								<div>
									<i class="icon">&#xe603;</i>
									海迈小苏
									<i class="ml10 icon fs18 fw700">&#xe609;</i>
									2018/06/09
									<i class="ml10 icon">&#xe621;</i>
									丙肝知识
									<i class="ml10 icon">&#xe625;</i>
									24浏览
								</div>
								<p>
									实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找
									<a href="">查看详情</a>
								</p>
							</div>
						</li>
					</ul>
				</div>
				<div id="right" class="fl ml20">
					<div class="bf">
						{include file="common/side-right-zhuanjia" /}
					</div>
					<div class="mt10 bf">
						{include file="common/side-right-shz" /}
					</div>
					<div class="bf mt10" style="width: 382px;padding: 15px 0;">
						{include file="common/side-right-gjc" /}
					</div>
				</div>
			</div>
			<!-- 页码 -->
			<div id="page" class="tc">
				<div class="con ib bf clearfix">
					<span class="fl vm ib num">共3页15条</span>
					<ul class="fl vm ib">
						<a href=""><li>首页</li></a>
						<a href=""><li class="active">1</li></a>
						<a href=""><li>2</li></a>
						<a href=""><li>3</li></a>
						<a href=""><li>&gt;&gt;</li></a>
						<a href=""><li>尾页</li></a>
					</ul>
				</div>
			</div>
		</div>
		<div style="margin-top: 15px;">
			{include file="common/footer" /}
		</div>
	</div>
	
</body>
</html>