<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>解决方案</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/solution.css">
	<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">
	<script src="/static/js/plugins/require.js"></script>
	<script src="/static/js/config.js"></script>
</head>
<body>
	{include file="common/header" /}
	<img src="/static/images/solution/banner.jpg" class="db ma" style="width: 100%;">

	<!-- <div class="ma" style="width: 100%;height: 500px;background: url(/static/images/solution/banner.jpg) center center no-repeat;"></div> -->

	<!-- 公司介绍 -->
	<div id="introduce" class="tc">
		<div class="txt0 fs33 c009eb6">海迈健康用心服务，让丙肝患者更多选择</div>
		<div class="txt1 fs18 c009eb6">团队于2017年6月赴印度考察，并与Fortis医院、Apollo医院、Max医院等多家权威医院签订合作协议，为丙肝患者提供优质医疗旅游服务</div>

		<div class="txt2 fs14 cfd6501 ib">极少数耐药者在海迈健康协助下且按医嘱治疗未能转阴的，将免费为患者提供同等价值的康复资助，并未患者联系境外医生提供进一步治疗建议，详情见与海迈健康签署的咨询服务协议。</div>

		<!-- 提供的服务 -->
		<div id="supply" class="c787878 tc">
			<ul class="ib tl content">
				<li>
					<ul>
						<li class="c797979">
							<span class="fw700">海迈健康咨询服务</span>
							<i class="icon fs36 cf05536 vm">&#xe608;</i>
						</li>
						<li class="fs13">
							提供科普、常识指导、膳食指导、报告代分析，服务透明，可靠安全仅需
							<span class="cf05536 fs19">￥778</span>元</li>
						<li>
							<a href=""><div>查看详情</div></a>
							<a href=""><div>立即咨询</div></a>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="c797979">
							<span class="fw700">海迈健康咨询服务</span>
							<i class="icon fs36 cf05536 vm">&#xe608;</i>
						</li>
						<li class="fs13">
							提供科普、常识指导、膳食指导、报告代分析，服务透明，可靠安全仅需
							<span class="cf05536 fs19">￥778</span>元</li>
						<li>
							<a href=""><div>查看详情</div></a>
							<a href=""><div>立即咨询</div></a>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="c797979">
							<span class="fw700">海迈健康咨询服务</span>
							<i class="icon fs36 cf05536 vm">&#xe608;</i>
						</li>
						<li class="fs13">
							提供科普、常识指导、膳食指导、报告代分析，服务透明，可靠安全仅需
							<span class="cf05536 fs19">￥778</span>元</li>
						<li>
							<a href=""><div>查看详情</div></a>
							<a href=""><div>立即咨询</div></a>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="c797979">
							<span class="fw700">海迈健康咨询服务</span>
							<i class="icon fs36 cf05536 vm">&#xe608;</i>
						</li>
						<li class="fs13">
							提供科普、常识指导、膳食指导、报告代分析，服务透明，可靠安全仅需
							<span class="cf05536 fs19">￥778</span>元</li>
						<li>
							<a href=""><div>查看详情</div></a>
							<a href=""><div>立即咨询</div></a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- 海迈健康服务流程 -->
		<div id="process" class="tc">
			<div class="fs24 c797979 title">海迈健康服务流程</div>
			<div class="c797979 mt10">我们只做一个桥梁，疗旅游服务 ,由重庆视焦网络科技有限责任公司运</div>
			<ul class="content ib">
				<li>
					<ul>
						<li>
							<img src="/static/images/index/server6.png">
						</li>
						<li>
							沟通咨询
						</li>
						<li>
							通过电话微信沟通了解你的情况
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>
							<img src="/static/images/index/server0.png">
						</li>
						<li>
							沟通咨询
						</li>
						<li>
							通过电话微信沟通了解你的情况
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>
							<img src="/static/images/index/server3.png">
						</li>
						<li>
							沟通咨询
						</li>
						<li>
							通过电话微信沟通了解你的情况
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>
							<img src="/static/images/index/server4.png">
						</li>
						<li>
							沟通咨询
						</li>
						<li>
							通过电话微信沟通了解你的情况
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>
							<img src="/static/images/index/server1.png">
						</li>
						<li>
							沟通咨询
						</li>
						<li>
							通过电话微信沟通了解你的情况
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>
							<img src="/static/images/index/server5.png">
						</li>
						<li>
							沟通咨询
						</li>
						<li>
							通过电话微信沟通了解你的情况
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>
							<img src="/static/images/index/server2.png">
						</li>
						<li>
							沟通咨询
						</li>
						<li>
							通过电话微信沟通了解你的情况
						</li>
					</ul>
				</li>
			</ul>
			<br>
			<ul class="num ib">
				<li>
					<div>1</div>
				</li>
				<li>
					<div>2</div>
				</li>
				<li>
					<div>3</div>
				</li>
				<li>
					<div>4</div>
				</li>
				<li>
					<div>5</div>
				</li>
				<li>
					<div>6</div>
				</li>
				<li>
					<div>7</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- 表格 -->
	<div id="div-table" class="tc">
		<div class="fs24 c797979 title">海迈健康服务流程</div>
		<div class="c797979 mt10">我们只做一个桥梁，疗旅游服务 ,由重庆视焦网络科技有限责任公司运</div>
		<div class="tc content">
			<table class="ib vt table">
			    <tr>
		 	        <th class="xing">基因分型</th>
			        <th>治疗方案</th>
			        <th class="zhou">治疗时间</th>
			        <th>治愈率</th>
			    </tr>
			    <tr>
			        <td class="xing" rowspan="2">基因四型</td>
			        <td>吉利德三代(索非布韦+维帕他韦)</td>
			        <td class="zhou" rowspan="2">12周</td>
			        <td>100%</td>
			    </tr>
			    <tr>
			        <td>吉利德二代（索非布韦+雷迪帕韦）</td>
			        <td>98%</td>
			    </tr>
			    <tr>
			        <td class="xing" rowspan="2">基因四型</td>
			        <td>吉利德三代(索非布韦+维帕他韦)</td>
			        <td class="zhou" rowspan="2">12周</td>
			        <td>100%</td>
			    </tr>
			    <tr>
			        <td>吉利德二代（索非布韦+雷迪帕韦）</td>
			        <td>98%</td>
			    </tr>
			    <tr>
			        <td class="xing" rowspan="2">基因四型</td>
			        <td>吉利德三代(索非布韦+维帕他韦)</td>
			        <td class="zhou" rowspan="2">12周</td>
			        <td>100%</td>
			    </tr>
			    <tr>
			        <td>吉利德二代（索非布韦+雷迪帕韦）</td>
			        <td>98%</td>
			    </tr>
			    <tr>
			        <td class="xing" rowspan="2">基因四型</td>
			        <td>吉利德三代(索非布韦+维帕他韦)</td>
			        <td class="zhou" rowspan="2">12周</td>
			        <td>100%</td>
			    </tr>
			    <tr>
			        <td>吉利德二代（索非布韦+雷迪帕韦）</td>
			        <td>98%</td>
			    </tr>
			    <tr>
			        <td class="xing" rowspan="2">基因四型</td>
			        <td>吉利德三代(索非布韦+维帕他韦)</td>
			        <td class="zhou" rowspan="2">12周</td>
			        <td>100%</td>
			    </tr>
			    <tr>
			        <td>吉利德二代（索非布韦+雷迪帕韦）</td>
			        <td>98%</td>
			    </tr>
			    <tr>
			        <td class="xing" rowspan="2">基因四型</td>
			        <td>吉利德三代(索非布韦+维帕他韦)</td>
			        <td class="zhou" rowspan="2">12周</td>
			        <td>100%</td>
			    </tr>
			    <tr>
			        <td>吉利德二代（索非布韦+雷迪帕韦）</td>
			        <td>98%</td>
			    </tr>
			</table>
			<div class="ib vt ml10 zixun">
				<span class="title fs35 cf ib">留言咨询</span>
				<form class="ma">
					<table>
						<tr>
							<td>
								您的称呼：
							</td>
							<td>
								<input type="text" name="name" placeholder="您的信息将被严格保密">
							</td>
						</tr>
						<tr>
							<td>
								您的手机：
							</td>
							<td>
								<input type="text" name="name" placeholder="用于接受海迈电话和信息">
							</td>
						</tr>
						<tr>
							<td>
								您的微信：
							</td>
							<td>
								<input type="text" name="name" placeholder="便于在线给您发送方案">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="tl ma" style="width: 88%;">
									告诉我们您想咨询的内容：
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<textarea></textarea>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<button>立即提交</button>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="ma fs14" style="width: 92%;">
									安全申明：您的信息将被严格保密，您提供的个人信息被授权用于我们跟您沟通联系，我们不会泄露给任何第三方或用作其他用途
								</div>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<div class="tc content2 mt20">
			<table class="ib vt table2">
				<tr>
					<td>
						国家
					</td>
					<td>
						中国
					</td>
					<td>
						印度
					</td>
					<td>
						美国
					</td>
				</tr>
				<tr>
					<td>
						治疗时间
					</td>
					<td>
						中国
					</td>
					<td>
						印度
					</td>
					<td>
						美国
					</td>
				</tr>
				<tr>
					<td>
						医疗费用
					</td>
					<td>
						中国
					</td>
					<td>
						印度
					</td>
					<td>
						美国
					</td>
				</tr>
				<tr>
					<td>
						康复率
					</td>
					<td>
						中国
					</td>
					<td>
						印度
					</td>
					<td>
						美国
					</td>
				</tr>
			</table>
			<div class="ib vt ml10 logo pr">
				<img src="/static/images/solution/hospital-logo0.jpg" class="img0">
				<img src="/static/images/solution/hospital-logo0.jpg" class="img1">
				<img src="/static/images/solution/hospital-logo0.jpg" class="img2">
				<img src="/static/images/solution/hospital-logo0.jpg" class="img3">
				<div class="line line0"></div>
				<div class="line line1"></div>
			</div>
		</div>
	</div>
	<!-- 海迈健康服务流程 -->
	<div id="process2" class="tc">
		<div class="fs24 c797979 title">海迈健康服务流程</div>
		<div class="c797979 mt10">我们只做一个桥梁，疗旅游服务 ,由重庆视焦网络科技有限责任公司运</div>
		<div class="wrapper clearfix content">
			<div class="sprites-arrow arrow0 fl"></div>
			<div class="sprites-arrow arrow1 fr"></div>
			<ul>
				<li>
					<img src="/static/images/index/head0.jpg">
				</li>
				<li>
					<img src="/static/images/index/head0.jpg">
				</li>
				<li>
					<img src="/static/images/index/head0.jpg">
				</li>
				<li>
					<img src="/static/images/index/head0.jpg">
				</li>
			</ul>
		</div>
	</div>
	<!-- 常见问题 -->
	<div id="any-question" class="ma clearfix">
		<div class="left fl">
			<div class="tc title">
				<span class="vm ib line"></span>
				<span class="vm ib dian ml10"></span>
				<span class="vm c00a4ff ml20 mr20 fs20">常见问题</span>
				<span class="vm ib dian mr10"></span>
				<span class="vm ib line"></span>
			</div>
			<ul>
				<li>
					<div class="wen c00a4ff">
						1、什么是远程咨询？
					</div>
					<div class="da">
						<span class="c00a4ff">答：</span>
						实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找不到合适的心理咨询师。
					</div>
				</li>
				<li>
					<div class="wen c00a4ff">
						2、什么是远程咨询？
					</div>
					<div class="da">
						<span class="c00a4ff">答：</span>
						实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找不到合适的心理咨询师。
					</div>
				</li>
				<li>
					<div class="wen c00a4ff">
						3、什么是远程咨询？
					</div>
					<div class="da">
						<span class="c00a4ff">答：</span>
						实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找不到合适的心理咨询师。
					</div>
				</li>
				<li>
					<div class="wen c00a4ff">
						4、什么是远程咨询？
					</div>
					<div class="da">
						<span class="c00a4ff">答：</span>
						夏：据传禹曾受封于夏伯，因用以称其政权为“夏”。另据历史学家范文澜先生说，禹的儿子启西迁大夏（山西南部汾浍一带）后，才称“夏”，姒少康在纶城（今河南商丘虞城西）中兴夏朝，恢复夏朝的统治，史称“少康中兴”。
						商：相传商族的始祖契曾帮助禹治水有功而
						历史朝代名
						历史朝代名(6张)
						 受封于商（今河南商丘南），以后就以“商”来称其部落（或部族）。汤灭夏后，就以“商”作为国名，定都亳（今河南商丘谷熟镇）。后盘庚迁殷（今河南安阳）后，又以“殷”或“殷商”并称。
					</div>
				</li>
				<li>
					<div class="wen c00a4ff">
						5、什么是远程咨询？
					</div>
					<div class="da">
						<span class="c00a4ff">答：</span>
						实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找不到合适的心理咨询师。
					</div>
				</li>
			</ul>
			
		</div>
		<div class="fr">
			{include file="common/side-right-zhuanjia" /}
		</div>
	</div>
	<!-- footer -->
	<div style="margin-top: 30px">
		{include file="common/footer" /}
	</div>
</body>
</html>