<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>解决方案</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/solution.css">
	<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">
	<script src="/static/js/plugins/require.js"></script>
	<script src="/static/js/config.js"></script>
</head>
<body>
	{include file="common/header" /}
	<img src="/static/images/solution/banner.jpg" class="db ma" style="width: 100%;">

	<!-- <div class="ma" style="width: 100%;height: 500px;background: url(/static/images/solution/banner.jpg) center center no-repeat;"></div> -->

	<!-- 公司介绍 -->
	<div id="introduce" class="tc">
		<div class="txt0 fs33 c009eb6">海迈健康用心服务，让丙肝患者更多选择</div>
		<div class="txt1 fs18 c009eb6">团队于2017年6月赴印度考察，并与Fortis医院、Apollo医院、Max医院等多家权威医院签订合作协议，为丙肝患者提供优质医疗旅游服务</div>

		<div class="txt2 fs14 cfd6501 ib">极少数耐药者在海迈健康协助下且按医嘱治疗未能转阴的，将免费为患者提供同等价值的康复资助，并未患者联系境外医生提供进一步治疗建议，详情见与海迈健康签署的咨询服务协议。</div>

		<!-- 提供的服务 -->
		<div id="supply" class="c787878 tc">
			<ul class="ib tl content">
				<li>
					<ul>
						<li class="c797979">
							<span class="fw700">海迈健康咨询服务</span>
							<i class="icon fs36 cf05536 vm">&#xe608;</i>
						</li>
						<li class="fs13">
							提供科普、常识指导、膳食指导、报告代分析，服务透明，可靠安全仅需
							<span class="cf05536 fs19">￥778</span>元</li>
						<li>
							<a href=""><div>查看详情</div></a>
							<a href=""><div>立即咨询</div></a>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="c797979">
							<span class="fw700">海迈健康咨询服务</span>
							<i class="icon fs36 cf05536 vm">&#xe608;</i>
						</li>
						<li class="fs13">
							提供科普、常识指导、膳食指导、报告代分析，服务透明，可靠安全仅需
							<span class="cf05536 fs19">￥778</span>元</li>
						<li>
							<a href=""><div>查看详情</div></a>
							<a href=""><div>立即咨询</div></a>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="c797979">
							<span class="fw700">海迈健康咨询服务</span>
							<i class="icon fs36 cf05536 vm">&#xe608;</i>
						</li>
						<li class="fs13">
							提供科普、常识指导、膳食指导、报告代分析，服务透明，可靠安全仅需
							<span class="cf05536 fs19">￥778</span>元</li>
						<li>
							<a href=""><div>查看详情</div></a>
							<a href=""><div>立即咨询</div></a>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="c797979">
							<span class="fw700">海迈健康咨询服务</span>
							<i class="icon fs36 cf05536 vm">&#xe608;</i>
						</li>
						<li class="fs13">
							提供科普、常识指导、膳食指导、报告代分析，服务透明，可靠安全仅需
							<span class="cf05536 fs19">￥778</span>元</li>
						<li>
							<a href=""><div>查看详情</div></a>
							<a href=""><div>立即咨询</div></a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- 海迈健康服务流程 -->
		<div id="process" class="tc">
			<div class="fs24 c797979 title">海迈健康服务流程</div>
			<div class="c797979 mt10">我们只做一个桥梁，疗旅游服务 ,由重庆视焦网络科技有限责任公司运</div>
			<ul class="content ib">
				<li>
					<ul>
						<li>
							<img src="/static/images/index/server6.png">
						</li>
						<li>
							沟通咨询
						</li>
						<li>
							通过电话微信沟通了解你的情况
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>
							<img src="/static/images/index/server0.png">
						</li>
						<li>
							沟通咨询
						</li>
						<li>
							通过电话微信沟通了解你的情况
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>
							<img src="/static/images/index/server3.png">
						</li>
						<li>
							沟通咨询
						</li>
						<li>
							通过电话微信沟通了解你的情况
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>
							<img src="/static/images/index/server4.png">
						</li>
						<li>
							沟通咨询
						</li>
						<li>
							通过电话微信沟通了解你的情况
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>
							<img src="/static/images/index/server1.png">
						</li>
						<li>
							沟通咨询
						</li>
						<li>
							通过电话微信沟通了解你的情况
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>
							<img src="/static/images/index/server5.png">
						</li>
						<li>
							沟通咨询
						</li>
						<li>
							通过电话微信沟通了解你的情况
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>
							<img src="/static/images/index/server2.png">
						</li>
						<li>
							沟通咨询
						</li>
						<li>
							通过电话微信沟通了解你的情况
						</li>
					</ul>
				</li>
			</ul>
			<br>
			<ul class="num ib">
				<li>
					<div>1</div>
				</li>
				<li>
					<div>2</div>
				</li>
				<li>
					<div>3</div>
				</li>
				<li>
					<div>4</div>
				</li>
				<li>
					<div>5</div>
				</li>
				<li>
					<div>6</div>
				</li>
				<li>
					<div>7</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- 表格 -->
	<div id="div-table" class="tc">
		<div class="fs24 c797979 title">海迈健康服务流程</div>
		<div class="c797979 mt10">我们只做一个桥梁，疗旅游服务 ,由重庆视焦网络科技有限责任公司运</div>
		
		<div class="tc content">
			<table class="ib vt table">
			    <tr>
		 	        <th class="xing">基因分型</th>
			        <th>治疗方案</th>
			        <th class="zhou">治疗时间</th>
			        <th>治愈率</th>
			    </tr>
			    <tr>
			        <td class="xing" rowspan="3">基因一型</td>
			        <td>吉利德三代(索非布韦+维帕他韦)</td>
			        <td class="zhou" rowspan="3">12周</td>
			        <td>
			            <p>98%（1a型）</p>
			            <p>99%（1b型）</p>
			        </td>
			    </tr>
			    <tr>
			        <td>吉利德二代（索非布韦+雷迪帕韦）</td>
			        <td>
			            <p>98%（1a型）</p>
			            <p>94%（1b型）</p>
			        </td>
			    </tr>
			    <tr>
			        <td>索非布韦+达卡他韦</td>
			        <td>
			            <p>98%（1a型）</p>
			            <p>99%（1b型）</p>
			        </td>
			    </tr>
			    <tr>
			        <td class="xing" rowspan="2">基因二型</td>
			        <td>吉利德三代(索非布韦+维帕他韦)</td>
			        <td class="zhou">12周</td>
			        <td>
			            <p>100%</p>
			        </td>
			    </tr>
			    <tr>
			        <td>索非布韦+达卡他韦</td>
			        <td class="zhou">24周</td>
			        <td>98%</td>
			    </tr>
			    <tr>
			        <td class="xing" rowspan="2">基因三型</td>
			        <td>吉利德三代(索非布韦+维帕他韦)</td>
			        <td class="zhou">12周</td>
			        <td> <p>98%（无治疗史）</p>
			        <p>94%（有治疗史）</p></td>
			    </tr>
			    <tr>
			        <td>索非布韦+达卡他韦</td>
			        <td class="zhou">24周</td>
			        <td>98%</td>
			    </tr>

			    <tr>
			        <td class="xing" rowspan="2">基因四型</td>
			        <td>吉利德三代(索非布韦+维帕他韦)</td>
			        <td class="zhou" rowspan="2">12周</td>
			        <td>100%</td>
			    </tr>
			    <tr>
			        <td>吉利德二代（索非布韦+雷迪帕韦）</td>
			        <td>98%</td>
			    </tr>
				
				<tr>
			        <td class="xing">基因五型</td>
			        <td>吉利德三代(索非布韦+维帕他韦)</td>
			        <td class="zhou">12周</td>
			        <td>97%</td>
			    </tr>
				
			    <tr>
			        <td class="xing" rowspan="2">基因六型</td>
			        <td>吉利德三代(索非布韦+维帕他韦)</td>
			        <td class="zhou" rowspan="2">12周</td>
			        <td>100%</td>
			    </tr>
			    <tr>
			        <td>吉利德二代（索非布韦+雷迪帕韦）</td>
			        <td>98%</td>
			    </tr>
			</table>
			<div class="ib zixun vt">
				<span class="title fs35 cf ib">留言咨询</span>
				<form class="ma">
					<!-- <table>
						<tr>
							<td>
								您的称呼：
							</td>
							<td>
								<input type="text" name="name" placeholder="您的信息将被严格保密">
							</td>
						</tr>
						<tr>
							<td>
								您的手机：
							</td>
							<td>
								<input type="text" name="name" placeholder="用于接受海迈电话和信息">
							</td>
						</tr>
						<tr>
							<td>
								您的微信：
							</td>
							<td>
								<input type="text" name="name" placeholder="便于在线给您发送方案">
							</td>
						</tr>
						<tr colspan="2">
							<td>告诉我们您想咨询的内容：</td>
						</tr>
					</table> -->
				</form>
			</div>
		</div>
	</div>
	
</body>
</html>