<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="/static/phoneCss/base.css">
	<link rel="stylesheet" type="text/css" href="/static/phoneCss/index.css">
	<link rel="stylesheet" type="text/css" href="/static/phoneCss/iconfont.css">
	<script src="/static/phoneJs/plugins/require.js"></script>
	<script src="/static/phoneJs/config.js"></script>
	<script type="text/javascript">
		require(['jquery'], function () {
			var fs = Math.floor($(window).width()/20.7);
			// 可恶的 UC，与其他浏览器的大概有 1.25 倍的字体尺寸差异
			if (/UCBrowser/i.test(navigator.userAgent)) {
				fs = fs/1.25;
			}
			$('html').css('font-size',fs+'px');
		})
	</script>
</head>
<body style="visibility: hidden;">
	<header class="cf fs13">
		<img src="/static/phoneImages/logo.png" class="ml10 vm">
		<span class="vm ml5 mr5">|</span>
		<span class="vm">让丙肝患者有更多更好的选择</span>
	</header>
	<nav class="tc">
		<!-- <ul class="navs clearfix ib">
			<li class="active"><a href="#home">首页</a></li>
			<li><a href="#program">方案</a></li>
			<li><a href="#instructionmanual">说明书</a></li>
			<li><a href="#knowledgepoint">知识点</a></li>
			<li><a href="#information">资讯</a></li>
			<li><a href="#case">案例</a></li>
			<li><a href="#hospital">医院</a></li>
			<li><a href="#doctor">医生</a></li>
			<li><a href="#about">关于</a></li>
		</ul> -->
		<ul class="links">
			<li>
				<a href="">首页</a>
			</li>
			<li>
				<a href="">解决方案</a>
			</li>
			<li>
				<a href="">健康咨询服务</a>
			</li>
		</ul>
	</nav>
	<!-- 动态内容 -->
	<div id="content">
		<!-- 页面正在加载，或者重新加载 -->
		<!-- <div id="loading" class="tc">
			<img src="/static/phoneImages/loading.gif">
			<span class="dn">点击重新加载</span>
		</div> -->
		<!-- 首页-home -->
		<!-- <div id="page-home">
			<div class="block1">
				<img src="/static/phoneImages/index/banner.jpg" class="banner w">
				<div class="gatx">
					<div class="ga ib vm fw700">
						关爱<br>
						提醒
					</div>
					<div class="line ib vm ml5 mr5"></div>
					<div class="detail ib vm">
						如您在海迈健康协助下未能转阴的，提供同等价值的药品或者全额退款，详见服务协议
					</div>
				</div>
				<ul class="good tc clearfix">
					<li>
						<img src="/static/phoneImages/index/introduce0.png">
						<div>优势医疗资源</div>
					</li>
					<li>
						<img src="/static/phoneImages/index/introduce0.png">
						<div>病例翻译</div>
					</li>
					<li>
						<img src="/static/phoneImages/index/introduce0.png">
						<div>全网最低价</div>
					</li>
					<li>
						<img src="/static/phoneImages/index/introduce0.png">
						<div>印度正品直邮</div>
					</li>
				</ul>
			</div>
			<div class="block2">
				<div class="common-title">
					<span>解决方案</span>
				</div>
				<ul>
					<li>
						<div class="top">
							<img src="/static/phoneImages/index/solution0.jpg">
							<span class="ib con">
								远程代诊服务
								<div>
									丙肝远程代诊套餐，无需出国，印度国宝级肝病专家根据病例制定丙肝治疗专属方案，...
								</div>
							</span>
						</div>
						<ul class="lists clearfix ma">
							<li>￥778</li>
							<li>服务<span>728</span>人</li>
							<li><a href="">查看详情&gt;&gt;</a></li>
						</ul>
					</li>
					<li>
						<div class="top">
							<img src="/static/phoneImages/index/solution0.jpg">
							<span class="ib con">
								远程代诊服务
								<div>
									丙肝远程代诊套餐，无需出国，印度国宝级肝病专家根据病例制定丙肝治疗专属方案，...
								</div>
							</span>
						</div>
						<ul class="lists clearfix ma">
							<li>￥778</li>
							<li>服务<span>728</span>人</li>
							<li><a href="">查看详情&gt;&gt;</a></li>
						</ul>
					</li>
					<li>
						<div class="top">
							<img src="/static/phoneImages/index/solution0.jpg">
							<span class="ib con">
								远程代诊服务
								<div>
									丙肝远程代诊套餐，无需出国，印度国宝级肝病专家根据病例制定丙肝治疗专属方案，...
								</div>
							</span>
						</div>
						<ul class="lists clearfix ma">
							<li>￥778</li>
							<li>服务<span>728</span>人</li>
							<li><a href="">查看详情&gt;&gt;</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="block3">
				<div class="common-title">
					<span>合作医院</span>
				</div>
				<ul class="ma mt20">
					<li class="clearfix">
						<div>
							<img src="http://wx2.sinaimg.cn/mw690/005NNlPGgy1ftaqmsh0i0j304q03ja9x.jpg">
							<div class="txt">
								<span>普西帕瓦提.辛加尼亚研究院</span>
							</div>
						</div>
						<div>
							<img src="http://wx2.sinaimg.cn/mw690/005NNlPGgy1ftaqmsh0i0j304q03ja9x.jpg">
							<div class="txt">
								<span>普西帕瓦提.辛加尼亚研究院</span>
							</div>
						</div>
					</li>
					<li class="clearfix">
						<div>
							<img src="http://wx2.sinaimg.cn/mw690/005NNlPGgy1ftaqmsh0i0j304q03ja9x.jpg">
							<div class="txt">
								<span>普西帕瓦提.辛加尼亚研究院</span>
							</div>
						</div>
						<div>
							<img src="http://wx2.sinaimg.cn/mw690/005NNlPGgy1ftaqmsh0i0j304q03ja9x.jpg">
							<div class="txt">
								<span>普西帕瓦提.辛加尼亚研究院</span>
							</div>
						</div>
					</li>
					<li class="clearfix">
						<div>
							<img src="http://wx2.sinaimg.cn/mw690/005NNlPGgy1ftaqmsh0i0j304q03ja9x.jpg">
							<div class="txt">
								<span>普西帕瓦提.辛加尼亚研究院</span>
							</div>
						</div>
						<div>
							<img src="http://wx2.sinaimg.cn/mw690/005NNlPGgy1ftaqmsh0i0j304q03ja9x.jpg">
							<div class="txt">
								<span>普西帕瓦提.辛加尼亚研究院</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="block4">
				<div class="common-title">
					<span>咨询&amp;知识</span>
				</div>
				<ul class="nav clearfix ma">
					<li class="active"><span>说明书</span></li>
					<li><span>知识点</span></li>
					<li><span>行业咨询</span></li>
				</ul>
				<ul class="con knowledgepoint">
					<li>
						<img src="http://wx4.sinaimg.cn/mw690/005NNlPGgy1ftas2x2kigj303a02d0so.jpg">
						<div class="ib">
							<div>
								海外医疗新药让晚期乳腺癌不再晚
							</div>
							<span>2018年7月15日</span>
						</div>
					</li>
					<li>
						<img src="http://wx4.sinaimg.cn/mw690/005NNlPGgy1ftas2x2kigj303a02d0so.jpg">
						<div class="ib">
							<div>
								海外医疗新药让晚期乳腺癌不再晚
							</div>
							<span>2018年7月15日</span>
						</div>
					</li>
					<li>
						<img src="http://wx4.sinaimg.cn/mw690/005NNlPGgy1ftas2x2kigj303a02d0so.jpg">
						<div class="ib">
							<div>
								海外医疗新药让晚期乳腺癌不再晚
							</div>
							<span>2018年7月15日</span>
						</div>
					</li>
					<li class="more tc">
						<a href="">
							<div class="vm ib">查看更多</div>
							<i class="vm icon">&#xe686;</i>
						</a>
					</li>
				</ul>
			</div>
			<div class="block5">
				<ul class="concat ma">
					<li class="clearfix">
						<div class="fl">
							<i class="icon vm">&#xe665;</i>
							<span class="vm">400客服电话</span>
						</div>
						<div class="fr">
							<span class="vm">400-820-8820</span>
						</div>
					</li>
					<li class="clearfix">
						<div class="fl">
							<i class="icon vm">&#xe667;</i>
							<span class="vm">24小时手机</span>
						</div>
						<div class="fr">
							<span class="vm">133-9980-6488</span>
						</div>
					</li>
					<li class="clearfix">
						<div class="fl">
							<i class="icon vm">&#xe627;</i>
							<span class="vm">QQ在线客服</span>
						</div>
						<div class="fr">
							<span class="vm">133-9980-6488</span>
						</div>
					</li>
				</ul>
				<div class="qr ma tc">
					<div class="ma clearfix">
						<span class="fl">
							<img src="http://wx1.sinaimg.cn/mw690/005NNlPGgy1ftauuvc49wj303a037mx7.jpg">
							<div>海迈健康微信公众号</div>
						</span>
						<span class="fr">
							<img src="http://wx1.sinaimg.cn/mw690/005NNlPGgy1ftauuvc49wj303a037mx7.jpg">
							<div>海迈健康客服微信号</div>
						</span>
					</div>
				</div>
				<div class="copyright tc fs14">
					重庆视焦网络科技有限公司，域ICP备18002882号，<br>
					HANMAU.COM版权所有&#169;2016-2018|All Rights Reserved
				</div>
			</div>
		</div> -->
		<!-- 案例页面 -->
		<!-- <div id="page-case">
			<ul>
				<li class="clearfix">
					<div>
						<img src="http://wx3.sinaimg.cn/mw690/005NNlPGgy1ftbri2qkkrj303r02nglh.jpg">
						<div class="ib fl con">
							<span>普西帕瓦提.辛加尼亚研究院</span>
							<div>
								丙肝远程代诊套餐，无需出国，印度国宝级肝病专家根据病例制定丙肝治疗专属方案，...
								<a href="">查看详情&gt;&gt;</a>
							</div>

						</div>
					</div>
				</li>
				<li class="clearfix">
					<div>
						<img src="http://wx3.sinaimg.cn/mw690/005NNlPGgy1ftbri2qkkrj303r02nglh.jpg">
						<div class="ib fl con">
							<span>普西帕瓦提.辛加尼亚研究院</span>
							<div>
								丙肝远程代诊套餐，无需出国，印度国宝级肝病专家根据病例制定丙肝治疗专属方案，...
								<a href="">查看详情&gt;&gt;</a>
							</div>

						</div>
					</div>
				</li>
				<li class="clearfix">
					<div>
						<img src="http://wx3.sinaimg.cn/mw690/005NNlPGgy1ftbri2qkkrj303r02nglh.jpg">
						<div class="ib fl con">
							<span>普西帕瓦提.辛加尼亚研究院</span>
							<div>
								丙肝远程代诊套餐，无需出国，印度国宝级肝病专家根据病例制定丙肝治疗专属方案，...
								<a href="">查看详情&gt;&gt;</a>
							</div>

						</div>
					</div>
				</li>
				<li class="more tc">
					<a href="">
						<div class="vm ib">查看更多</div>
						<i class="vm icon">&#xe686;</i>
					</a>
				</li>
			</ul>
		</div> -->
		<!-- 解决方案页面 -->
		<div id="solution">
			<img src="http://wx1.sinaimg.cn/mw690/005NNlPGgy1ftc0ze7m0uj309z068dg2.jpg" class="banner">
			<div class="name ml10">
				<div class="title fs22">
					丙肝远程咨询
				</div>
				<div class="tag clearfix">
					<span class="bf38686">预约专家问诊</span>
					<span class="bec99df">病例翻译</span>
					<span class="bf1a55d">医院拿药</span>
					<span class="b5fadda">正品保障</span>
					<span class="bff6033">医院直邮</span>
					<span class="bdc524f">正规医院发票</span>
					<span class="b68ca6d">无需出国</span>
				</div>
				<div class="pp clearfix">
					<span class="fl cff4b2b">￥<span class="fs24">4800</span></span>
					<span class="fr fs14">服务人数：427人</span>
				</div>
			</div>
		</div>
	</div>
	<!-- 导航图标 -->
	<div id="nav" class="tc">
		<i class="icon">
			&#xe601;
			<div>首页</div>
		</i>
		<i class="icon">
			&#xe611;
			<div>短信</div>
		</i>
		<i class="icon">
			&#xe613;
			<div>电话</div>
		</i>
		<i class="icon">
			&#xe628;
			<div>咨询</div>
		</i>
		<i class="icon">
			&#xe64c;
			<div>关于</div>
		</i>
	</div>

	<script type="text/javascript">
		require(['jquery'], function () {
			var $header = $('header'),
				$nav = $('nav'),
				$con = $('#content'),
				$icon = $('#nav');
			// 计算中间内容的高度
			$con.height($(window).height()-$header.outerHeight(true)-$nav.outerHeight(true)-$icon.outerHeight(true));
			// 显示 body
			$('body').css('visibility','visible');

			// 删除php图标
			$('#think_page_trace_open').remove();
		})
	</script>
</body>
</html>