<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="/static/phoneCss/base.css">
	<link rel="stylesheet" type="text/css" href="/static/phoneCss/index.css">
	<!-- <link rel="stylesheet" type="text/css" href="/static/phoneCss/iconfont.css"> -->
	<script src="/static/phoneJs/plugins/require.js"></script>
	<script src="/static/phoneJs/config.js"></script>
	<script type="text/javascript">
		require(['jquery'], function () {
			var fs = Math.floor($(window).width()/20.7);
			// 可恶的 UC，与其他浏览器的大概有 1.25 倍的字体尺寸差异
			if (/UCBrowser/i.test(navigator.userAgent)) {
				fs = fs/1.25;
			}
			$('html').css('font-size',fs+'px');
		})
	</script>
</head>
<body>
	<header class="cf fs13">
		<img src="/static/phoneImages/logo.png" class="ml10 vm">
		<span class="vm ml5 mr5">|</span>
		<span class="vm">让丙肝患者有更多更好的选择</span>
	</header>
	<nav class="tc">
		<ul class="clearfix ib">
			<li class="active"><a href="#home">首页</a></li>
			<li><a href="#program">方案</a></li>
			<li><a href="#instructionmanual">说明书</a></li>
			<li><a href="#knowledgepoint">知识点</a></li>
			<li><a href="#information">资讯</a></li>
			<li><a href="#case">案例</a></li>
			<li><a href="#hospital">医院</a></li>
			<li><a href="#doctor">医生</a></li>
			<li><a href="#about">关于</a></li>
		</ul>
	</nav>
	<!-- 动态内容 -->
	<div id="content">
		
	</div>
	<!-- 导航图标 -->
	<div id="nav">
		
	</div>

	<script type="text/javascript">
		require(['jquery'], function () {

		})
	</script>
</body>
</html>