<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="keywords" content="">
 	<meta name="description" content="">
	<title>海迈健康</title>
	<link rel="stylesheet" type="text/css" href="/static/phoneCss/base.css">
	<link rel="stylesheet" type="text/css" href="/static/phoneCss/iconfont.css">
	<link rel="stylesheet" type="text/css" href="/static/phoneCss/index.css">
	
	<script src="/static/phoneJs/plugins/require.js"></script>
	<script src="/static/phoneJs/config.js"></script>
	<script type="text/javascript">
		require(['jquery'], function () {
			var fs = Math.floor($(window).width()/20.7);
			// 可恶的 UC，与其他浏览器的大概有 1.25 倍的字体尺寸差异
			if (/UCBrowser/i.test(navigator.userAgent)) {
				fs = fs/1.25;
			}
			$('html').css('font-size',fs+'px');
		})
	</script>
</head>
<body style="visibility: hidden;/*暂时隐藏，防止js计算的短暂错位*/">
	<header class="cf fs13">
		<img src="/static/phoneImages/logo.png" class="ml10 vm">
		<span class="vm ml5 mr5">|</span>
		<span class="vm">让丙肝患者有更多更好的选择</span>
	</header>
	<nav class="tc">
		<ul class="navs clearfix ib">
			<li data-name="home" class="active">	<a href="?type=nav&name=home">				首页		</a></li>
			<li data-name="solution">				<a href="?type=nav&name=solution">			方案		</a></li>
			<li data-name="instructions">			<a href="?type=nav&name=instructions">		说明书	</a></li>
			<li data-name="knowledgepoint">			<a href="?type=nav&name=knowledgepoint">	知识	</a></li>
			<li data-name="information">			<a href="?type=nav&name=information">		资讯		</a></li>
			<li data-name="anli">					<a href="?type=nav&name=anli">				日记		</a></li>
			<li data-name="hospital">				<a href="?type=nav&name=hospital">			医院		</a></li>
			<li data-name="doctor">					<a href="?type=nav&name=doctor">			专家		</a></li>
			<li data-name="about">					<a href="?type=nav&name=about">				我们		</a></li>
		</ul>
		<ul class="links dn">
		</ul>
	</nav>
	<!-- 动态内容 -->
	<div id="content">
		<!-- 页面正在加载，或者重新加载 -->
		<div id="loading" class="tc">
			<img src="/static/phoneImages/loading.gif">
			<span class="reload dn">点击重新加载</span>
		</div>
		<!-- 首页-home -->
		<div id="page-home" class="dn">
			<div class="block1">
				<img src="/static/phoneImages/index/banner.jpg" class="banner w">
				<div class="gatx">
					<div class="ga ib vm fw700">
						关爱<br>
						提醒
					</div>
					<div class="line ib vm ml5 mr5"></div>
					<div class="detail ib vm">
						极少数耐药者按印度专家建议用药未能转阴的，提供同价值药品或者全额退款，详询客服
					</div>
				</div>
				<ul class="good tc clearfix">
					<li>
						<img src="/static/phoneImages/index/introduce0.png">
						<div>优势医疗资源</div>
					</li>
					<li>
						<img src="/static/phoneImages/index/introduce0.png">
						<div>病例翻译</div>
					</li>
					<li>
						<img src="/static/phoneImages/index/introduce0.png">
						<div>全网最低价</div>
					</li>
					<li>
						<img src="/static/phoneImages/index/introduce0.png">
						<div>印度正品直邮</div>
					</li>
				</ul>
			</div>
			<div class="block2">
				<div class="common-title">
					<span>印度丙肝解决方案</span>
				</div>
				<ul>
					
				</ul>
			</div>
			<div class="block3">
				<div class="common-title">
					<span>海迈健康合作医院</span>
				</div>
				<ul class="ma mt20">
					
				</ul>
			</div>
			<div class="block4">
				<div class="common-title">
					<span>丙肝专业资讯&amp;知识</span>
				</div>
				<ul class="nav clearfix ma">
					<li class="active"><span>说明书</span></li>
					<li><span>丙肝知识</span></li>
					<li><span>行业资讯</span></li>
				</ul>
				<ul class="con instructions">
					<li class="more tc">
						<a href="?type=nav&name=instructions">
							<div class="vm ib">查看更多</div>
							<i class="vm icon">&#xe686;</i>
						</a>
					</li>
				</ul>
				<ul class="con knowledgepoint dn">
					<li class="more tc">
						<a href="?type=nav&name=knowledgepoint">
							<div class="vm ib">查看更多</div>
							<i class="vm icon">&#xe686;</i>
						</a>
					</li>
				</ul>
				<ul class="con information dn">
					<li class="more tc">
						<a href="?type=nav&name=information">
							<div class="vm ib">查看更多</div>
							<i class="vm icon">&#xe686;</i>
						</a>
					</li>
				</ul>
			</div>
			<div class="block45">
				<div class="tc fs20 tit">
					印度医疗门户，点亮生命曙光
				</div>
				<ul>
					<li>
						<img class="vm" src="/static/phoneImages/index/good-yd0.png">
						<div class="text">
							<div>印度优势医疗资源</div>
							<span>
								印度私立医院拥有世界一流的医疗条件及医疗技术并有五星的环境。帮助中国病友享受印度经济与有效的医疗体系，我们的努力，是您健康的保障！
							</span>
						</div>
					</li>
					<li>
						<img class="vm" src="/static/phoneImages/index/good-yd1.png">
						<div class="text">
							<div>一流的印度就诊医院</div>
							<span>
								海迈健康与印度医疗FORTIS、APOLLO等顶级医院签署正式合作协议。让国内肝病患者多一个安心、放心、省心又省钱的选择，给我们信任，还您健康。
							</span>
						</div>
					</li>
					<li>
						<img class="vm" src="/static/phoneImages/index/good-yd2.png">
						<div class="text">
							<div>全网最低价格亲民</div>
							<span>
								海迈健康推出健康代诊服务，仅需980元就可以获得印度医生处方，让彼此更亲近，普通家庭也可以享受最专业的治疗，我们的贴心，是您生命的曙光！
							</span>
						</div>
					</li>
					<li>
						<img class="vm" src="/static/phoneImages/index/good-yd3.png">
						<div class="text">
							<div>资金安全售后保障</div>
							<span>
								海迈健康不但有24小时的犹豫期，如若您按照协议没有转阴，更是可以全额退款，您支付在印度药房的资金我们为您担保，我们的真诚，是您利益的保障！
							</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="block5">
				<ul class="concat ma">
					<li class="clearfix">
						<div class="fl">
							<i class="icon vm">&#xe665;</i>
							<span class="vm">客服热线</span>
						</div>
						<div class="fr">
							<span class="vm">400-188-2515</span>
						</div>
					</li>
					<li class="clearfix">
						<div class="fl">
							<i class="icon vm">&#xe667;</i>
							<span class="vm">客服手机</span>
						</div>
						<div class="fr">
							<span class="vm">13399806488</span>
						</div>
					</li>
					<li class="clearfix">
						<div class="fl">
							<i class="icon vm">&#xe627;</i>
							<span class="vm">客服微信</span>
						</div>
						<div class="fr">
							<span class="vm">kangzhilucom</span>
						</div>
					</li>
				</ul>
				<div class="qr ma tc">
					<div class="ma clearfix">
						<span class="fl">
							<img src="http://wx1.sinaimg.cn/mw690/005NNlPGgy1ftauuvc49wj303a037mx7.jpg">
							<div>海迈健康微信公众号</div>
						</span>
						<span class="fr">
							<img src="http://wx1.sinaimg.cn/mw690/005NNlPGgy1ftauuvc49wj303a037mx7.jpg">
							<div>海迈健康客服微信号</div>
						</span>
					</div>
				</div>
				<div class="copyright tc fs14">
					重庆视焦网络科技有限公司，域ICP备18002882号，<br>
					HANMAU.COM版权所有&#169;2016-2018|All Rights Reserved
				</div>
			</div>
		</div>
		<!-- 解决方案页面 -->
		<div id="page-solution" class="dn">
			<div class="block1">
				<img src="/static/phoneImages/index/banner.jpg" class="banner w">
				<div class="gatx">
					<div class="ga ib vm fw700">
						关爱<br>
						提醒
					</div>
					<div class="line ib vm ml5 mr5"></div>
					<div class="detail ib vm">
						极少数耐药者按印度专家建议用药未能转阴的，提供同价值药品或者全额退款，详询客服
					</div>
				</div>
			</div>
			<div class="block2">
				<div class="common-title">
					<span>印度丙肝解决方案</span>
				</div>
				<ul>
				</ul>
			</div>
			<div class="block3">
				<div class="common-title">
					<span>丙肝治愈方案一览</span>
				</div>
				<table class="fs12">
					<tr>
						<th width="80">
							基因型						</th>
						<th width="167">
							丙肝用药方案						</th>
						<th width="60">
							周期						</th>
						<th width="188">
							治愈率						</th>
					</tr>
					<tr>
						<td>
							基因1型
						</td>
						<td>
							MYLAN/NATCO吉三代<br>
							Sofosbuvir+Velpatasvir<br>
							
						</td>
						<td>
							12周
						</td>
						<td>
							98%（基因1-6型通用方案）
						</td>
					</tr>
					<tr class="bb9f4c4">
						<td>
							基因2型
						</td>
						<td>
							MYLAN/NATCO吉三代<br>
							Sofosbuvir+Velpatasvir<br>
						</td>
						<td>
							12周
						</td>
						<td>
							98%（基因1~6型通治方案）
						</td>
					</tr>
					<tr>
						<td rowspan="2">
							基因3型
						</td>
						<td>
							MYLAN/NATCO吉三代<br>
							Sofosbuvir+Velpatasvir<br>
						</td>
						<td>
							12周
						</td>
						<td>
							98%（基因1~6型通治方案）
						</td>
					</tr>
					<tr>
						<td>
							MYLAN/NATCO欧盟组合<br>
							Sofosbuvir+daclatasvir<br>
						</td>
						<td>
							12周
						</td>
						<td>
							98%（基因1~6型通治方案）
						</td>
					</tr>
					<tr class="bb9f4c4">
						<td>
							基因4型
						</td>
						<td>
							MYLAN/NATCO吉三代<br>
							Sofosbuvir+Velpatasvir<br>
						</td>
						<td>
							12周
						</td>
						<td>
							98%（基因1~6型通治方案）
						</td>
					</tr>
					<tr>
						<td rowspan="3">
							基因5型/6型
						</td>
						<td>
							MYLAN/NATCO吉三代<br>
							Sofosbuvir+Velpatasvir<br>
						</td>
						<td>
							12周
						</td>
						<td>
							98%（基因1~6型通治方案）
						</td>
					</tr>
					<tr>
						<td rowspan="2">
							MYLAN/NATCO吉二代<br>
							Sofosbuvir+Ledipasvir<br>
						</td>
						<td>
							12周
						</td>
						<td>
							98%（基因1~6型通治方案）
						</td>
					</tr>
					<tr>
						<td>
							24周
						</td>
						<td>
							98%（基因1~6型通治方案）
						</td>
					</tr>
				</table>
			</div>
			<div class="block4">
				<div class="common-title">
					<span>中外治愈率及费用</span>
				</div>
				<table class="price-db mt10">
					<tr>
						<td>
							国家
						</td>
						<td>
							治疗时间
						</td>
						<td>
							医疗费用
						</td>
						<td>
							康复率
						</td>
					</tr>
					<tr>
						<td>
							中国
						</td>
						<td>
							180天左右
						</td>
						<td>
							14万左右
						</td>
						<td>
							50%
						</td>
					</tr>
					<tr>
						<td>
							美国
						</td>
						<td>
							90天左右
						</td>
						<td>
							50万左右
						</td>
						<td>
							99%
						</td>
					</tr>
					<tr class="active">
						<td>
							印度
						</td>
						<td>
							90天左右
						</td>
						<td>
							1万左右
						</td>
						<td>
							99%
						</td>
					</tr>
				</table>
			</div>
			<div class="block4">
				<div class="common-title">
					<span>海迈健康合作印度专家</span>
				</div>
				<ul class="zj ma mt10">
					<li class="more tc">
						<a href="?type=nav&name=doctor">
							<div class="vm ib">查看更多</div>
							<i class="vm icon">&#xe686;</i>
						</a>
					</li>
				</ul>
				<div class="common-title">
					<span>丙肝新药说明书</span>
				</div>
				<ul class="bgxy ma mt10">
					<li class="more tc">
						<a href="?type=nav&name=instructions">
							<div class="vm ib">查看更多</div>
							<i class="vm icon">&#xe686;</i>
						</a>
					</li>
				</ul>
				<img src="/static/phoneImages/solution/howto.jpg" class="db ma how">
			</div>
		</div>
		<!-- 说明书页面 -->
		<div id="page-instructions" class="dn page-lists">
			<ul>
				
			</ul>
		</div>
		<!-- 知识点页面 -->
		<div id="page-knowledgepoint" class="dn page-lists">
			<ul>
				
			</ul>
		</div>
		<!-- 资讯页面 -->
		<div id="page-information" class="dn page-lists">
			<ul>
				
			</ul>
		</div>
		<!-- 案例页面 -->
		<div id="page-anli" class="dn page-lists">
			<ul>
				
			</ul>
		</div>
		<!-- 医院页面 -->
		<div id="page-hospital" class="dn page-lists">
			<ul>
			</ul>
		</div>
		<!-- 医生页面 -->
		<div id="page-doctor" class="dn page-lists">
			<ul>
			</ul>
		</div>
		<!-- 关于页面 -->
		<div id="page-about" class="dn">
			<img src="/static/phoneImages/index/banner.jpg" class="banner w">
			<div class="me ma">
				<p class="fs22 fw700">
					关于我们
				</p>
				<p style="color: #a7a7a7;">
海迈健康（hanmau.com）是一站式印度丙肝项目旅游医疗服务平台。由重庆视焦网络科技有限责任公司与甘肃美途国际旅行社联合运营，是属于视焦网络科技的品牌。海迈健康让您远离非法，杜绝救命假药,重获新生!团队于2017年6月赴印度考察，并与Fortis医院、Apollo医院、Max医院等多家权威医院签订合作协议，为患者提供旅游医疗服务。</p>
<p style="color: #a7a7a7;">
海迈健康的小伙伴们有一颗仁心和严谨的心，真正做到让您省心、安心、放心、贴心。我们只做一个桥梁，通向印度医院，开通VIP绿色就诊通道。在外期间保障您合法的利益与权益，回国后您能继续与我们联络，跟踪诊疗效果，在国外您享受奢华吃住行体验，治病的同时感受异国风情，并且问诊印度国宝级肝病专家。	</p>				
<p style="color: #a7a7a7;">
海迈健康一直严格按照监管要求为客户提供咨询服务，确保客户的药品为境外合规渠道直供，但部分违法人员利用“海迈健康”的名义直接在国内进行药品交易，是侵犯“海迈健康”权益的行为，国内进行境外药品销售是涉嫌违法犯罪的行为，请广大用户选择合法合规的服务商提供服务，维护自身合法权益。</p>
<p style="color: #a7a7a7;">
海迈健康在此声明，公司并非境外药品的提供者，不会发生在国内交付药品的情形，如发现任何假冒“海迈健康”名义行为或者直接在国内进行境外药品交易的，欢迎用户进行举报监督，海迈健康将依法追究侵权者的侵权责任，并向有关机关举报追究违法人员的法律责任，维护市场秩序
				</p>
			</div>
			<div class="info">
				<ul class="concat ma">
					<li class="clearfix">
						<div class="fl">
							<i class="icon vm">&#xe665;</i>
							<span class="vm">客服热线</span>
						</div>
						<div class="fr">
							<span class="vm">400-188-2515</span>
						</div>
					</li>
					<li class="clearfix">
						<div class="fl">
							<i class="icon vm">&#xe667;</i>
							<span class="vm">客服手机</span>
						</div>
						<div class="fr">
							<span class="vm">13399806488</span>
						</div>
					</li>
					<li class="clearfix">
						<div class="fl">
							<i class="icon vm">&#xe627;</i>
							<span class="vm">客服微信</span>
						</div>
						<div class="fr">
							<span class="vm">kangzhilucom</span>
						</div>
					</li>
				</ul>
				<div class="qr ma tc">
					<div class="ma clearfix">
						<span class="fl">
							<img src="http://wx1.sinaimg.cn/mw690/005NNlPGgy1ftauuvc49wj303a037mx7.jpg">
							<div>海迈健康微信公众号</div>
						</span>
						<span class="fr">
							<img src="http://wx1.sinaimg.cn/mw690/005NNlPGgy1ftauuvc49wj303a037mx7.jpg">
							<div>海迈健康客服微信号</div>
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- 解决方案详情页面 -->
		<div id="page-solutiond" class="dn">
			<div class="top-msg">
				<!-- ajax 填充 -->
			</div>
			<div class="detail tc">
				<div class="clearfix snav">
					<a href="#tcjs" data-type="jump"><span class="top active">套餐介绍</span></a>
					<a href="#fysm" data-type="jump"><span class="top">费用说明</span></a>
					<a href="#fwlc" data-type="jump"><span class="top">服务流程</span></a>
					<a href="#cjwt" data-type="jump"><span class="top">常见问题</span></a>
				</div>
				<ul class="introduce">
					<li>
						<div id="tcjs" class="title">
							<span class="vm ib line"></span>
							<span class="vm ib dian"></span>
							<span class="vm">套餐介绍</span>
							<span class="vm ib dian"></span>
							<span class="vm ib line"></span>
						</div>
						<div class="introduce-detail">
							<!-- ajax 填充 -->
						</div>
					</li>
					<li>
						<div id="fysm" class="title">
							<span class="vm ib line"></span>
							<span class="vm ib dian"></span>
							<span class="vm">费用说明</span>
							<span class="vm ib dian"></span>
							<span class="vm ib line"></span>
						</div>
						<div class="tl s-tit">
							费用包含
						</div>
						<table class="price-sm mt10">
							<tr>
								<td>
									<span class="sprite-sm ib sm0 vm"></span>
									<div class="ib vm">
										<div>病例翻译</div>
										患者病例资料专业翻译
									</div>
								</td>
								<td>
									<span class="sprite-sm ib sm1 vm"></span>
									<div class="ib vm">
										<div>病例翻译</div>
										患者病例资料专业翻译
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<span class="sprite-sm ib sm2 vm"></span>
									<div class="ib vm">
										<div>病例翻译</div>
										患者病例资料专业翻译
									</div>
								</td>
								<td>
									<span class="sprite-sm ib sm3 vm"></span>
									<div class="ib vm">
										<div>病例翻译</div>
										患者病例资料专业翻译
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<span class="sprite-sm ib sm4 vm"></span>
									<div class="ib vm">
										<div>病例翻译</div>
										患者病例资料专业翻译
									</div>
								</td>
								<td>

								</td>
							</tr>
						</table>
						<div class="tl s-tit mt20">
							费用对比
						</div>
						<table class="price-db mt10">
							<tr>
								<td>
									国家
								</td>
								<td>
									治疗时间
								</td>
								<td>
									医疗费用
								</td>
								<td>
									康复率
								</td>
							</tr>
							<tr>
								<td>
									中国
								</td>
								<td>
									180天左右
								</td>
								<td>
									14万左右
								</td>
								<td>
									50%
								</td>
							</tr>
							<tr>
								<td>
									美国
								</td>
								<td>
									90天左右
								</td>
								<td>
									80万左右
								</td>
								<td>
									99%
								</td>
							</tr>
							<tr class="active">
								<td>
									印度
								</td>
								<td>
									90天左右
								</td>
								<td>
									1万左右
								</td>
								<td>
									99%
								</td>
							</tr>
						</table>
					</li>
					<li>
						<div id="fwlc" class="title">
							<span class="vm ib line"></span>
							<span class="vm ib dian"></span>
							<span class="vm">服务流程</span>
							<span class="vm ib dian"></span>
							<span class="vm ib line"></span>
						</div>
						<div class="report pr tc">
							<span class="pa txt ib c6 fs14">需要准备检查报告材料</span>
							<table class="fs16">
								<tbody><tr>
									<td>
										<img class="ib vm" src="http://wx2.sinaimg.cn/mw690/005NNlPGgy1fu1g3i3k4oj300f00fgld.jpg" />
										<span class="vm">RNA病毒数量</span>
									</td>
									<td>
										<img class="ib vm" src="http://wx2.sinaimg.cn/mw690/005NNlPGgy1fu1g3i3k4oj300f00fgld.jpg" />
										<span class="vm">乙肝两对检查</span>
									</td>
								</tr>
								<tr>
									<td>
										<img class="ib vm" src="http://wx2.sinaimg.cn/mw690/005NNlPGgy1fu1g3i3k4oj300f00fgld.jpg" />
										<span class="vm">甲胎蛋白检查</span>
									</td>
									<td>
										<img class="ib vm" src="http://wx2.sinaimg.cn/mw690/005NNlPGgy1fu1g3i3k4oj300f00fgld.jpg" />
										<span class="vm">肝脏瞬时弹性</span>
									</td>
								</tr>
								<tr>
									<td>
										<img class="ib vm" src="http://wx2.sinaimg.cn/mw690/005NNlPGgy1fu1g3i3k4oj300f00fgld.jpg" />
										<span class="vm">肝功常规检查</span>
									</td>
									<td>
										<img class="ib vm" src="http://wx2.sinaimg.cn/mw690/005NNlPGgy1fu1g3i3k4oj300f00fgld.jpg" />
										血液常规检查
									</td>
								</tr>
								<tr>
									<td>
										<img class="ib vm" src="http://wx2.sinaimg.cn/mw690/005NNlPGgy1fu1g3i3k4oj300f00fgld.jpg" />
										<span class="vm">丙肝基因分型</span>
									</td>
									<td>
										<img class="ib vm" src="http://wx2.sinaimg.cn/mw690/005NNlPGgy1fu1g3i3k4oj300f00fgld.jpg" />
										丙肝抗体检查
									</td>
								</tr>
							</tbody></table>
						</div>
						<div class="tl s-tit mt20">
							详细流程
							<ul class="process oh">
								<li>
									<span>
										 沟通咨询
									</span>
									<div>
										通过微信、QQ等工具与您沟通交流，您需要将您的丙肝检查报告发送给我们的客服人员，客服人员为您推荐适合您的服务方案
									</div>
								</li>
								<li>
									<span>
										 选择方案 
									</span>
									<div>
										经过前期的沟通，海迈健康和您确认您最终选择的服务方案
									</div>
								</li>
								<li>
									<span>
										 签订协议
									</span>
									<div>
										支付服务费，签订协议，可以通过拍照、邮寄、面签等方式签订保障协议
									</div>
								</li>
								<li>
									<span>
										 预约专家
									</span>
									<div>
										不管您选择远程代诊、远程视频还是出国旅游医疗，都需要提前为您预约印度医生
									</div>
								</li>
								<li>
									<span>
										 实施方案
									</span>
									<div>
										我们将着手为您翻译检查报告等资料，并将您的资料发送给印度医生如选择远程视频服务，我们还将提前和您沟通您想咨询的问题
									</div>
								</li>
								<li>
									<span>
										 直邮/出国
									</span>
									<div>
										选择远程代诊及远程视频服务的朋友们等待印度药房为您直邮药品，选择出国的朋友海迈健康将协助您准备护照、签证、机票等
									</div>
								</li>
								
									<li><span>
										 售后服务
									</span>
									<div>
										服务完毕过后，海迈健康将为您提供为期一年的免费咨询服务，保证24小时快速响应，让您后顾无忧
									</div>
								
							</ul>
						</div>
					
					<li>
						<div id="cjwt" class="title">
							<span class="vm ib line"></span>
							<span class="vm ib dian"></span>
							<span class="vm">常见问题</span>
							<span class="vm ib dian"></span>
							<span class="vm ib line"></span>
						</div>
						<ul class="tl questions">
							<li>
								<div>
									1、你们的丙肝远程代诊服务是什么？ 
								</div>
								<p>
									答：海迈健康推出的丙肝远程代诊服务是指海迈健康工作人员将您的病例翻译成为英文，在印度医院远程挂号，让医生根据您的病情为您开具处方，这种服务不仅帮您免除舟车劳顿，而且还可以为您节省相当大的一笔费用，费用为980元，包含翻译服务费、挂号费及印度医生处方费用，通过处方，印度药房直接将药品邮寄到您的手中 。
								
								</p>
							</li>
							<li>
								<div>
									2、你们的丙肝远程视频问诊服务具体怎么操作？
								</div>
								<p>
									答：海迈健康推出的丙肝远程视频服务简单地说就是利用现代化工具，突破语言、地域限制，由医院的医学专家和您通过视频见面，对您的肝病进行进一步诊断、并提出治疗建议，据您的病情为您开具处方，这种服务让您零距离面对丙肝专家，您可以实现和我们沟通您想咨询的问题，我们为您准备好，届时配备专业翻译三人（专家+您+医学翻译）视频，视频时间一般为15分钟，费用为2980元，具体服务流程请添加网页右侧微信进行详细的咨询 
									
								</p>
							</li>
							<li>
								<div>
									3、目前印度丙肝治疗费用大概多少，有哪些药品？
								</div>
								<p>
								答：目前国内新药丙沙通上市了，其价格为23200元/瓶，丙肝治疗所需费用为69400-138800元，海迈健康主要是走的印度丙肝治疗项目，印度MYLAN公司生产的吉三代MY HEP ALL 是真正美国吉利德授权的产品，是属于真正的美国血统药品 其价格为2500元/瓶 ，丙肝患者治疗的费用为7500-15000元（肝硬化患者需要两个疗程），当然还有适量的服务费（980元起），目前主流的丙肝新药有欧盟方案（Sofosbuvir400mg+daclatasvir60mg）、吉二代（Sofosbuvir400mg+Ledipasvir100mg）、吉三代(Sofosbuvir400mg+Velpatasvir100mg)。
								
								</p>
							</li>
							<li>
								<div>
									4、丙肝能够完全治愈么，是否会复发？
								</div>
								<p>
									答：目前丙肝是完全可以治愈的（使用丙肝新药其治愈率可达92%-99%），在按疗程服用丙肝新药结束后，三个月去医院检查（肝硬化患者需要用药接近6个月），如果依然查不出病毒，则丙肝彻底治愈了，从临床试验来看，丙肝新药治愈丙肝后其复发率极低，仅为8%-1%，这种情况一般出现在耐药者身上。 
									
								</p>
							</li>
							<li>
								<div>
									5、印度仿制药厂仿制的丙肝新药是山寨的么？ 
								</div>
								<p>
									答：药品的仿制的意思就是对比原产品生产出和原产品一模一样的产品（包含但不仅限于成份、疗效等），在这里引用一句话“仿制药是与被仿制药具有相同的活性成分、剂型、给药途径和治疗作用的替代药品，具有降低医疗支出、提高药品可及性、提升医疗服务水平等重要经济和社会效益”，2015年世界仿制药厂排名前20位的厂商中，印度Mylan高居第四位，是印度排名最高的。目前海迈健康在印度有固定的合作伙伴，您获得的吉三代可选择Mylan生产的，请广大患者朋友们敬请放心。
									
								</p>
							</li>
							<li>
								<div>
									6、用印度丙肝新药治疗丙肝需要多长时间？ 
								</div>
								<p>
									答：丙肝新药目前均为口服药，用药疗程一般为12-24周。具体根据个体、病程、治疗情况、应答情况和病毒基因分型进行调整。对于经治、有肝硬化或应答不好的个体需要增加疗程。
								</p>
							</li>
							<li>
								<div>
									7、服用丙肝新药有没有副作用，副作用有哪些？ 
								</div>
								<p>
									答：只要是药品都会或多或少的产生副作用，根据患者病情和体质差异，服用丙肝药物期间，极少数患者会出现疲乏、头痛、恶心、腹泻、局部皮肤瘙痒等不良反应，不良反应持续时间短（一般7天左右可以自愈），相对于干扰素副作用都是患者可以承受的，治疗期间，出现不良反应患者应及时向医生咨询。
									
								</p>
							</li>
							<li>
								<div>
									8、丙肝做哪些检查才可以更好的确定治愈方案？ 
								</div>
								<p>
									答：丙肝，属于传染性疾病，如想获得详细的治疗方案，我们建议做如下检查：肝功能、丙肝抗体检查、丙肝病毒核酸(HCV RNA)检测、影像学：包括腹部肝胆脾彩超，了解肝脏有无慢性损伤.必要时行腹部增强CT或核磁,以了解病情损伤程度、肝脏瞬时弹性波扫描(Fibroscan)、肝组织活检、甲胎蛋白、乙肝两对半（乙肝患者不能使用吉三代）。
									
								</p>
							</li>
							<li>
								<div>
									9、通过海迈健康印度邮寄的药品能顺利过关么？ 
								</div>
								<p>
									答：请放心！海关主要打击的对象是非法代购，防止假药流入国内，而非患者自用药。根据2012年8月24日颁布的“卫生部/海关总署关于修改《药品进口管理办法》的决定（卫生部令86号）”第39条之规定：进出境人员随身携带的个人自用的少量药品，应当以自用、合理数量为限，并接受海关监管。回国到达机场后患者正常入关。如海关人员询问，患者只需提供患者的病历和身份证予以说明即可。
									
								</p>
							</li>
							
							
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- 案例详情页面（其他说明书、知识点、资讯等列表页共用此模板） -->
		<div id="page-anlid" class="dn">
		</div>
	</div>
	<!-- 导航图标 -->
	<div id="nav" class="tc">
		<a href="?type=nav&name=home">
			<i class="icon">
				&#xe601;
				<div>首页</div>
			</i>
		</a>
		<a data-type="jump" href="sms:13399806488">
			<i class="icon">
				&#xe611;
				<div>短信</div>
			</i>
		</a>
		<a data-type="jump" href="tel:13399806488">
			<i class="icon">
				&#xe613;
				<div>电话</div>
			</i>
		</a>
		<a data-type="jump" href="mqqwpa://im/chat?chat_type=wpa&uin=822129040&version=1&src_type=web&web_src=oicqzone.com">
			<i class="icon">
				&#xe628;
				<div>咨询</div>
			</i>
		</a>
		<a href="?type=nav&name=about">
			<i class="icon">
				&#xe64c;
				<div>关于</div>
			</i>
		</a>
	</div>

	<script type="text/javascript">
		require(['jquery'], function () {
			var $header = $('header'),
				$nav = $('nav'),
				$con = $('#content'),
				$icon = $('#nav');
			// 计算中间内容的高度
			$con.height($(window).height()-$header.outerHeight(true)-$nav.outerHeight(true)-$icon.outerHeight(true));
			// 显示 body
			$('body').css('visibility','visible');

			// 删除php图标
			$('#think_page_trace_open').remove();

			// 阻止所有 a 标签的默认事件。
			$('body').on('click', 'a', function (e) {
				console.log(this.href);
				if ($(this).data('type') != 'jump') {
					e.preventDefault();
					return false;
				}
				
			})
		})
		require(['jquery','underscore','self'], function ($, _, self) {
			var page = {
				$pageObj: {
					home: $('#page-home'),
					solution: $('#page-solution'),
					instructions: $('#page-instructions'),
					knowledgepoint: $('#page-knowledgepoint'),
					information: $('#page-information'),
					anli: $('#page-anli'),
					hospital: $('#page-hospital'),
					doctor: $('#page-doctor'),
					about: $('#page-about'),
					solutiond: $('#page-solutiond'),
					anlid: $('#page-anlid')
				},
				all: function () {
					return _.reduce(page.$pageObj, function (total, curr) {
						return total.push(curr[0]) && total;
					}, [])
				},
				currPage: $('#page-home'),
				lastClickObj: null,
				func: {
					loading: function () {
						$('#loading,#loading img').removeClass('dn');
						$('#loading .reload').addClass('dn');
						$(page.all()).addClass('dn');
					},
					reload: function () {
						$('#loading,#loading .reload').removeClass('dn');
						$('#loading img').addClass('dn');
						$(page.all()).addClass('dn');
					},
					loaded: function () {
						$('#loading').addClass('dn');
						page.currPage.removeClass('dn');
					},
					pageSwitch: function (targetNav) {
						$(page.all()).addClass('dn');
						page.currPage.removeClass('dn');
						$('#content').scrollTop(page.currPage.data('scrolltop') || 0);

					}
				}
			}
			var tpl = {
				home: {
					// 解决方案
					solution: _.template([
						'<li>',
							'<div class="top">',
								'<img src="<%= imgUrl %>">',
								'<span class="ib con">',
									'<%= title %>',
									'<div>',
										'<%= content %>',
									'</div>',
								'</span>',
							'</div>',
							'<ul class="lists clearfix ma">',
								'<li><span class="vm">￥<%= price %></span></li>',
								'<li><span class="vm">服务<span><%= people %></span>人</span></li>',
								'<li><a href="<%= detailUrl %>" class="vm">查看详情&gt;&gt;</a></li>',
							'</ul>',
						'</li>'
					].join('')),
					// 合作医院
					hospital: _.template([
						'<li class="clearfix">',
							'<div>',
								'<a href="<%= detailUrl %>" class="ib">',
									'<img src="<%= imgUrl %>">',
									'<div class="txt tc">',
										'<span><%= title %></span>',
									'</div>',
								'</a>',
							'</div>',
							'<div <% if(!title2){ %> class="dn" <%}%> >',
								'<a href="<%= detailUrl2 %>" class="ib">',
									'<img src="<%= imgUrl2 %>">',
									'<div class="txt tc">',
										'<span><%= title2 %></span>',
									'</div>',
								'</a>',
							'</div>',
						'</li>'
					].join('')),
					// 资讯&知识
					zxzs_item: _.template([
						'<li>',
							'<a href="<%= detailUrl %>" class="item">',
								'<img src="<%= imgUrl %>">',
								'<div class="ib">',
									'<div>',
										'<%= title %>',
									'</div>',
									'<div class="dateread">',
										'<%= date %>',
										'<span class="fr"><%= readnum %>阅读</span>',
									'</div>',
								'</div>',
							'</a>',
						'</li>'
					].join(''))
				},
				solution: {
					doctor: _.template([
						'<li class="clearfix">',
							'<div>',
								'<a href="<%= detailUrl %>" class="ib">',
									'<img src="<%= imgUrl %>">',
									'<div class="ch tc"><%= title %></div>',
									'<p>',
										'<%= content %>',
									'</p>',
								'</a>',
							'</div>',
							'<div <% if(!title2){ %> class="dn" <%}%> >',
								'<a href="<%= detailUrl2 %>" class="ib">',
									'<img src="<%= imgUrl2 %>">',
									'<div class="ch tc"><%= title2 %></div>',
									'<p>',
										'<%= content2 %>',
									'</p>',
								'</a>',
							'</div>',
						'</li>'
					].join(''))
				},
				solutiond: {
					top: _.template([
						'<img src="<%= bannerUrl %>" class="banner">',
						'<div class="name ml10">',
							'<div class="title fs22">',
								'<%= title %>',
							'</div>',
							'<div class="tag clearfix">',
								'<span class="bf38686">预约专家问诊</span>',
								'<span class="bec99df">病例翻译</span>',
								'<span class="bf1a55d">医院拿药</span>',
								'<span class="b5fadda">正品保障</span>',
								'<span class="bff6033">医院直邮</span>',
								'<span class="bdc524f">正规医院发票</span>',
								'<span class="b68ca6d">无需出国</span>',
							'</div>',
							'<div class="pp oh">',
								'<span class="fl cff4b2b">￥<span class="fs24"><%= price %></span></span>',
								'<span class="fr fs14">服务人数：<%= people %>人</span>',
							'</div>',
						'</div>'
					].join(''))
				},
				anlid: {
					any: _.template([
						'<li class="clearfix">',
							'<a href="<%= detailUrl %>">',
								'<img src="<%= imgUrl %>" class="fl">',
								'<div class="ib pr fl ml10" style="max-width: 10.4rem">',
									'<div class="name">',
										'<%= title %>',
									'</div>',
									'<div class="tips">',
										'<span><%= date %></span>',
										'<span class="fr"><%= read %>阅读</span>',
									'</div>',
								'</div>',
							'</a>',
						'</li>'
					].join('')),
					main: _.template([
						'<div class="tc fs20"><%= title %></div>',
						'<div class="c8 mb30 mt10 tc">',
							'<i class="vm icon ib fs12 mr3">&#xe607;</i><span class="vm"><%= author %></span>',
							'<i class="ml5 icon fs18 fw700" style="vertical-align:text-bottom;">&#xe609;</i><span class="vm"><%= date %></span>',
							'<i class="vm ml10 fs13 mr3 icon">&#xe621;</i><span class="vm"><%= description %></span>',
							'<i class="vm ml10 fs16 icon">&#xe625;</i><span class="vm"><%= read %>浏览</span>',
						'</div>',
						'<div class="line"></div>',
						'<div class="gg-zx">',
							'<img class="person vm" src="http://m.huayinyiliao.com/templets/default/images/guwen/yixueguwen.png">',
							'<div class="ib vm ml20">',
							    '<div class="title fs22">',
							        '看，不如直接问！',
							        '<img class="tip-img" src="http://m.huayinyiliao.com/templets/default/images/guwen/tag.svg">',
							    '</div>',
							    '<div class="aps_tooltip fs12">',
							        '<a href="tel:13399806488" data-type="jump">',
							            '<span class="link_tel">电话咨询</span>',
							        '</a>',
							        '<a href="mqqwpa://im/chat?chat_type=wpa&uin=822129040&version=1&src_type=web&web_src=oicqzone.com" class="ml10" data-type="jump">',
							            '<span class="link_tel">在线咨询</span>',
							        '</a>',
							    '</div>',
							'</div>',
							'<div class="fs12 mt10">为您解决：全球找药、用药指导、治疗方案、临床招募</div>',
						'</div>',
						'<div style="word-break: break-all"><%= content %></div>',
						'<div class="lasnex">',
							'<span><a href="<%= lasturl %>" >上一篇：<%= lasttext %></a></span>',
							'<span><a href="<%= nexturl %>" >下一篇：<%= nexttext %></a></span>',
						'</div>',
						'<div class="line"></div>',
						'<div class="about-read">',
							'<div class="fw700 fs18">相关阅读</div>',
							'<ul class="mt20">',
								'<%= any %>',
								'<li class="more mt25 tc clearfix">',
									'<a href="<%= moreurl %>">',
										'<div class="vm ib">查看更多</div>',
										'<i class="vm icon">&#xe686;</i>',
									'</a>',
								'</li>',
							'</ul>',
						'</div>'
					].join(''))
				},
				lists: _.template([
					'<li class="clearfix">',
						'<div>',
							'<img src="<%= imgUrl %>">',
							'<div class="ib fl con">',
								'<span><%= title %></span>',
								'<div>',
									'<%= content %>',
									'<a href="<%= detailUrl %>" class="ib">查看详情&gt;&gt;</a>',
								'</div>',
							'</div>',
						'</div>',
					'</li>'
				].join('')),
				lists_more: _.template([
					'<li class="more tc">',
						'<div class="loading dn"><img src="/static/phoneImages/loading.gif" style="width:32px;"></div>',
						'<a href="<%= moreUrl %>" data-currpage="1">',
							'<div class="vm ib">查看更多</div>',
							'<i class="vm icon">&#xe686;</i>',
						'</a>',
					'</li>'
				].join('')),
				links: _.template([
					'<li>',
						'<a href="<%= url %>"><%= content %></a>',
					'</li>'
				].join(''))
			}
			var url = {
				// 首页
				home: 'http://bang.hanmau.com/home',
				// 解决方案
				solution: 'http://bang.hanmau.com/api_services',
				// 说明书
				instructions: 'http://bang.hanmau.com/api_instructions',
				// 知识点
				knowledgepoint: 'http://bang.hanmau.com/api_hcvknowledge',
				// 资讯
				information: 'http://bang.hanmau.com/api_blog',
				anli: 'http://bang.hanmau.com/api_case',
				// 医院
				hospital: 'http://bang.hanmau.com/api_hospital',
				// 医生
				doctor: 'http://bang.hanmau.com/api_mingyi',
				// 关于
				about: 'http://bang.hanmau.com/api_contact'
			}
			// 根据 页码参数 获取列表数据
			var initData = {
				getData: function (url, page) {
					let defer = $.Deferred();
					$.ajax({
						url: url,
						type: 'GET',
						data: {
							page: page
						}
					}).done(function (res) {
						defer.resolve(res);
					}).fail(function () {
						defer.reject();
					})
					return defer;
				}
			}
			var initPage = {
				home: function () {
					let defer = $.Deferred();
					$.when(initData.getData(url.home))
					.done(function (data) {
						try {
							data = JSON.parse(data);
						} catch (e) {
							alert('JSON数据有误');
							defer.reject();
							return;
						}
						// banner 图片
						data.ad[0] && ($('#page-home .block1 .banner')[0].src = data.ad[0].image);
						// 解决方案
						let soData = _.reduce(data.plans, function (total, curr, index, list) {
							let d = new Date(curr.publish_time*1000);
							return total + tpl.home.solution({
								imgUrl: curr.image,
								title: curr.title,
								content: curr.desc,
								price: curr.low_price,
								people: curr.service_number,
								detailUrl: url.solution+'/'+curr.id+'?type=detail&name=solutiond'
							});
						},'')
						$('#page-home .block2 ul').html(soData);
						// 合作医院
						let hosData = _.reduce(_.reduce(data.hospitals, function (total, curr, index, list) {
							if (total.length && total[total.length-1].length < 2) {
								total[total.length-1].push(curr);
							} else {
								total.push([curr]);
							}
							return total;
						},[]), function (total, curr, index, list) {
							return total + tpl.home.hospital({
								imgUrl: curr[0].image,
								title: curr[0].title,
								detailUrl: url.hospital+'/'+curr[0].id+'?type=detail&name=anlid',
								imgUrl2: curr[1] && curr[1].image,
								title2: curr[1] && curr[1].title,
								detailUrl2: curr[1] && (url.hospital+'/'+curr[1].id)+'?type=detail&name=anlid'
							});
						},'');
						$('#page-home .block3 ul').html(hosData);

						// 说明书 知识 行业资讯
						function szh(data, url) {
							return _.reduce(data, function (total, curr, index, list) {
								return total + tpl.home.zxzs_item({
									detailUrl: url+'/'+curr.id+'?type=detail&name=anlid',
									imgUrl: curr.image,
									title: curr.title,
									date: curr.publish_time,
									readnum: curr.show_real || '0'
								});
							},'')
						}
						$('#page-home .block4 .instructions .more').before(szh(data.shuomingshu, url.instructions));
						$('#page-home .block4 .knowledgepoint .more').before(szh(data.zhishidian, url.knowledgepoint));
						$('#page-home .block4 .information .more').before(szh(data.hangyezx, url.information));

						defer.resolve();
					})
					.fail(function () {
						defer.reject();
					})
					return defer;
				},
				solution: function () {
					let defer = $.Deferred();
					$.when(initData.getData(url.solution))
					.done(function (data) {
						try {
							data = JSON.parse(data);
						} catch (e) {
							alert('JSON数据有误');
							defer.reject();
							return;
						}
						$('#page-solution .block1 img')[0].src = data.ad.image;

						// 解决方案
						let soData = _.reduce(data.data, function (total, curr, index, list) {
							return total + tpl.home.solution({
								imgUrl: curr.image,
								title: curr.title,
								content: curr.desc.slice(0,75)+'...',
								price: curr.low_price,
								people: curr.service_number,
								detailUrl: url.solution+'/'+curr.id+'?type=detail&name=solutiond'
							});
						}, '');
						$('#page-solution .block2 ul').html(soData);
						// 印度专家
						let docData = _.reduce(_.reduce(data.doctors, function (total, curr, index, list) {
							if (total.length && total[total.length-1].length < 2) {
								total[total.length-1].push(curr);
							} else {
								total.push([curr]);
							}
							return total;
						}, []), function (total, curr, index, list) {
							return total + tpl.solution.doctor({
								detailUrl: url.doctor+'/'+curr[0].id+'?type=detail&name=anlid',
								imgUrl: curr[0].image,
								title: curr[0].title,
								content: $(curr[0].content).text().slice(0,50),

								detailUrl2: curr[1] && url.doctor+'/'+curr[1].id+'?type=detail&name=anlid',
								imgUrl2: curr[1] && curr[1].image,
								title2: curr[1] && curr[1].title,
								content2: curr[1] && $(curr[1].content).text().slice(0,50)
							})
						}, '')
						$('#page-solution .block4 .zj .more').before(docData);
						// 丙肝新药说明书  bgxy
						// let instrData = _reduce(data.)

						defer.resolve();
					})
					.fail(function () {
						defer.reject();
					})

					return defer;
				},
				solutiond: function (url, navCn, navHref) {
					let defer = $.Deferred();
					$.when(initData.getData(url))
					.done(function (data) {
						try {
							data = JSON.parse(data);
						} catch (e) {
							alert('JSON数据有误');
							defer.reject();
							return;
						}
						// top-msg
						let topMsg = tpl.solutiond.top({
							bannerUrl: data.data.image,
							title: data.data.title,
							price: data.data.low_price,
							people: data.data.service_number
						});
						$('#page-solutiond .top-msg').html(topMsg);
						// 套餐介绍
						$('#page-solutiond .introduce-detail').html(data.data.introduce);
						// 显示 面包屑 导航
						let links = _.reduce([
							{content: '首页', url: '?type=nav&name=home'},
							{content: navCn, url: navHref},
							{content: data.data.title, url: ''},
						], function (total, curr , index, list) {
							if (index == 1 && list[0].content == list[1].content) {
								return total;
							}
							return total + tpl.links({
								content: curr.content,
								url: curr.url
							})
						}, '');
						$('nav .navs').addClass('dn');
						$('nav .links').html(links).removeClass('dn');
						defer.resolve();
					})
					.fail(function () {
						defer.reject();
					})

					return defer;
				},
				anlid: function (url, navCn, navHref) {
					let defer = $.Deferred();
					$.when(initData.getData(url))
					.done(function (data) {
						try {
							data = JSON.parse(data);
						} catch (e) {
							alert('JSON数据有误');
							defer.reject();
							return;
						}
						if (!data.data) {
							defer.reject();
							return;
						}
						let any = _.reduce(data.more_news, function (total, curr, index, list) {
							return total + tpl.anlid.any({
								detailUrl: url.replace(/\d+/, curr.id),
								imgUrl: curr.image,
								title: curr.title,
								date: curr.publish_time,
								read: curr.show
							})
						}, '');
						let con = tpl.anlid.main({
							title: data.data.title,
							author: data.data.author,
							date: data.data.publish_time,
							description: data.data.typename || '知识',
							read: data.data.show_real, 
							content: data.data.content,
							lasturl: data.prev && url.replace(/\d+/, data.prev.id) || '',
							lasttext: data.prev && data.prev.title || '没有了',
							nexturl: data.next && url.replace(/\d+/, data.next.id) || '',
							nexttext: data.next && data.next.title || '没有了',
							any: any,
							moreurl: navHref
						})
						$('#page-anlid').html(con);
						// 显示 面包屑 导航
						let links = _.reduce([
							{content: '首页', url: '?type=nav&name=home'},
							{
								content: navCn,
								url: navHref
							},
							{
								content: 
								data.data.title.length > 12 ? data.data.title.slice(0,12)+'...' : data.data.title, url: ''
							},
						], function (total, curr , index, list) {
							// 直接从首页点进详情页的情况
							if (index == 1 && list[0].content == list[1].content) {
								return total;
							}
							return total + tpl.links({
								content: curr.content,
								url: curr.url
							})
						}, '');
						$('nav .navs').addClass('dn');
						$('nav .links').html(links).removeClass('dn');
						defer.resolve();
					})
					.fail(function () {
						defer.reject();
					})
					return defer;
				},
				about: function () {
					let defer = $.Deferred();
					$.when(initData.getData(url.about))
					.done(function (data) {
						try {
							data = JSON.parse(data);
						} catch (e) {
							alert('JSON数据有误');
							defer.reject();
							return;
						}
						if (data.ad.image) {
							$('#page-about .banner')[0].src = data.ad.image;
							defer.resolve();
						} else {
							defer.reject();
						}
					})
					.fail(function () {
						defer.reject();
					})
					return defer;
				},
				lists: function (url, $page, pageNum) {
					let defer = $.Deferred();
					$.when(initData.getData(url, pageNum))
					.done(function (data) {
						try {
							data = JSON.parse(data);
						} catch (e) {
							alert('JSON数据有误');
							defer.reject();
							return;
						}
						let d = _.reduce(data.data, function (total, curr, index, list) {
							return total + tpl.lists({
								imgUrl: curr.image,
								title: curr.title,
								content: curr.content.replace(/<[^<>]+>/g,'').slice(0,60)+'...',
								detailUrl: url+'/'+curr.id+'?type=detail&name=anlid'
							});
						},'');
						// 判断是初始化还是新增
						if ($page.find('ul .more')[0]) {
							$page.find('ul .more').before(d);
						} else {
							d += tpl.lists_more({
								moreUrl: url+'?type=more'
							});
							$page.find('ul').append(d);
						}
						
						if (data.data.length) {
							defer.resolve();
						} else {
							defer.reject();
						}
					})
					.fail(function () {
						defer.reject();
					})
					return defer;
				}
			}
			// 初始化页面的方法---为了加载失败的 reload 调用
			var initFunc = {
				home: function () {
					$.when(initPage.home())
					.done(function () {
						page.func.loaded();
						page.$pageObj.home.data('isInit', 1);
					})
					.fail(function () {
						page.func.reload();
					})
				},
				solution: function () {
					$.when(initPage.solution())
					.done(function () {
						page.func.loaded();
						page.$pageObj.solution.data('isInit', 1);
					})
					.fail(function () {
						page.func.reload();
					})
				},
				instructions: function () {
					$.when(initPage.lists(url.instructions, page.$pageObj.instructions))
					.done(function () {
						page.func.loaded();
						page.$pageObj.instructions.data('isInit', 1);
					})
					.fail(function () {
						page.func.reload();
					})
				},
				knowledgepoint: function () {
					$.when(initPage.lists(url.knowledgepoint, page.$pageObj.knowledgepoint))
					.done(function () {
						page.func.loaded();
						page.$pageObj.knowledgepoint.data('isInit', 1);
					})
					.fail(function () {
						page.func.reload();
					})
				},
				information: function () {
					$.when(initPage.lists(url.information, page.$pageObj.information))
					.done(function () {
						page.func.loaded();
						page.$pageObj.information.data('isInit', 1);
					})
					.fail(function () {
						page.func.reload();
					})
				},
				anli: function () {
					$.when(initPage.lists(url.anli, page.$pageObj.anli))
					.done(function () {
						page.func.loaded();
						page.$pageObj.anli.data('isInit', 1);
					})
					.fail(function () {
						page.func.reload();
					})
				},
				hospital: function () {
					$.when(initPage.lists(url.hospital, page.$pageObj.hospital))
					.done(function () {
						page.func.loaded();
						page.$pageObj.hospital.data('isInit', 1);
					})
					.fail(function () {
						page.func.reload();
					})
				},
				doctor: function () {
					$.when(initPage.lists(url.doctor, page.$pageObj.doctor))
					.done(function () {
						page.func.loaded();
						page.$pageObj.doctor.data('isInit', 1);
					})
					.fail(function () {
						page.func.reload();
					})
				},
				about: function () {
					$.when(initPage.about())
					.done(function () {
						page.func.loaded();
						page.$pageObj.about.data('isInit', 1);
					})
					.fail(function () {
						page.func.reload();
					})
				},
				solutiond: function (url, navCn, navHref) {
					$.when(initPage.solutiond(url, navCn, navHref))
					.done(function () {
						page.func.loaded();
					})
					.fail(function () {
						page.func.reload();
					})
				},
				anlid: function (url, navCn, navHref) {
					$.when(initPage.anlid(url, navCn, navHref))
					.done(function () {
						page.func.loaded();
					})
					.fail(function () {
						page.func.reload();
					})
				}
			}
			// 默认初始化首页
			initFunc.home();
			$('#loading .reload').click(function () {
				page.func.loading();
				page.lastClickObj && page.lastClickObj.click();
			})
			// a 标签事件捕获，页面切换，内容更新
			$('body').on('click', 'a', function (e) {
				var a = self.parseURL(this.href);
				// 保存加载失败点击的对象，方便 reload
				page.lastClickObj = this;
				// 点击任何 a 标签都要记录当前页面的 scrollTop
				page.currPage.data('scrolltop',$('#content').scrollTop());
				switch (a.params.type) {
					case 'nav':
						// 当前页面
						page.currPage = page.$pageObj[a.params.name];
						// nav 切换
						$('nav .navs li').removeClass('active');
						// $(this).parent().addClass('active');
						$('nav .navs li[data-name='+a.params.name+']').addClass('active');
						// 如果该主页面未 初始化数据，则初始化
						if (!page.currPage.data('isInit')) {
							page.func.loading();
							initFunc[a.params.name]();
						} else {
							// 防止其他页面的 reload
							page.func.loaded();
						}
						// 主页面切换
						page.func.pageSwitch();
						$('nav .links').addClass('dn');
						$('nav .navs').removeClass('dn');
						break;
					case 'detail':
						let navCn = $('nav .navs li.active a').text().trim();
						let navHref = $('nav .navs li.active a')[0].href;
						switch (a.params.name) {
							case 'solutiond':
								page.func.loading();
								initFunc.solutiond(a.source, navCn, navHref);
								page.currPage = page.$pageObj[a.params.name];
								page.func.pageSwitch();
								break;
							case 'anlid':
								page.func.loading();
								initFunc.anlid(a.source, navCn, navHref);
								page.currPage = page.$pageObj[a.params.name];
								page.func.pageSwitch();
								break;
						}
						$('#content').scrollTop(0);
						break;
					case 'more':
						let that = this, currpage = parseInt($(that).data('currpage'));
						// 显示 loading 图片
						$(that).addClass('dn').prev().removeClass('dn');

						initPage.lists(a.source.split('?')[0], page.currPage, currpage + 1)
						.done(function () {
							$(that).data('currpage', currpage + 1);
						})
						.always(function () {
							$(that).removeClass('dn').prev().addClass('dn');
						})
						break;
				}
			})
		})
		require(['jquery'], function () {
			// home-资讯&知识 切换
			var zxzs = [$('#page-home .block4 .instructions')[0],$('#page-home .block4 .knowledgepoint')[0],$('#page-home .block4 .information')[0]];
			$('#page-home .block4 .nav li').click(function () {
				$(this).siblings().removeClass('active');
				$(this).addClass('active');
				$(zxzs).addClass('dn');
				$(zxzs[$(this).index()]).removeClass('dn');
			})
			// 列表详情页-套餐介绍
			$('#page-solutiond .snav span').click(function () {
				$(this).parents('.snav').find('span').removeClass('active');
				$(this).addClass('active');
			})
		})
	</script>
</body>
</html>