<div id="common-problem">
	<div class="tc title">
		<span class="vm ib line"></span>
		<span class="vm ib dian ml10"></span>
		<span class="vm c00a4ff ml20 mr20 fs20">常见问题</span>
		<span class="vm ib dian mr10"></span>
		<span class="vm ib line"></span>
	</div>
	<ul>
		<li>
			<div class="wen c00a4ff">
				1、什么是远程咨询？
			</div>
			<div class="da">
				<span class="c00a4ff">答：</span>
				实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找不到合适的心理咨询师。
			</div>
		</li>
		<li>
			<div class="wen c00a4ff">
				2、什么是远程咨询？
			</div>
			<div class="da">
				<span class="c00a4ff">答：</span>
				实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找不到合适的心理咨询师。
			</div>
		</li>
		<li>
			<div class="wen c00a4ff">
				3、什么是远程咨询？
			</div>
			<div class="da">
				<span class="c00a4ff">答：</span>
				实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找不到合适的心理咨询师。
			</div>
		</li>
		<li>
			<div class="wen c00a4ff">
				4、什么是远程咨询？
			</div>
			<div class="da">
				<span class="c00a4ff">答：</span>
				夏：据传禹曾受封于夏伯，因用以称其政权为“夏”。另据历史学家范文澜先生说，禹的儿子启西迁大夏（山西南部汾浍一带）后，才称“夏”，姒少康在纶城（今河南商丘虞城西）中兴夏朝，恢复夏朝的统治，史称“少康中兴”。
				商：相传商族的始祖契曾帮助禹治水有功而
				历史朝代名
				历史朝代名(6张)
				 受封于商（今河南商丘南），以后就以“商”来称其部落（或部族）。汤灭夏后，就以“商”作为国名，定都亳（今河南商丘谷熟镇）。后盘庚迁殷（今河南安阳）后，又以“殷”或“殷商”并称。
			</div>
		</li>
		<li>
			<div class="wen c00a4ff">
				5、什么是远程咨询？
			</div>
			<div class="da">
				<span class="c00a4ff">答：</span>
				实践证明：咨询效果不仅与当面咨询一样，及时性还很强，一有困惑，随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作一类的急性症状，非常利于急救，也利于对当事人隐私的保护。同时，小城市的困扰者和远在他国的华人也不必担心所在的城市找不到合适的心理咨询师。
			</div>
		</li>
	</ul>
</div>