<footer>
	<ul class="content clearfix wrapper">
		<li>
			<ul>
				<li>
					海迈健康，仁心医疗服务平台！
				</li>
				<li>
					<a href="">关于我们</a>
					|
					<a href="">联系我们</a>
					|
					<a href="">丙肝知识</a>
				</li>
				<li>
					<a href="">关于我们</a>
					|
					<a href="">联系我们</a>
					|
					<a href="">丙肝知识</a>
				</li>
				<li>
					<a href="">关于我们</a>
					|
					<a href="">联系我们</a>
					|
					<a href="">丙肝知识</a>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li>
					投诉建议
				</li>
				<li>
					通过E-mail将您的想法和建议发给我们
				</li>
				<li>
					稿件投诉：service@hanmau.com
				</li>
				<li>
					商务合作：admin@hanmau.com
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li>
					联系我们
				</li>
				<li>
					海迈热线：400-188-2515
				</li>
				<li>
					海迈企鹅：822129040
				</li>
				<li>
					海迈微信：kangzhilucom
				</li>
			</ul>
		</li>
		<li>
			<img src="/static/images/index/qr.jpg">
			<img src="/static/images/index/qr-wechat.jpg" class="ml20">
		</li>
	</ul>
	<div class="ba">
		<div class="wrapper">
			<span class="vm">©2018-海迈健康（www.hanmau.com）版权所有/工信部备案：渝ICP备18002882号/</span>
			<img src="/static/images/ghs.png" class="vm">
			<span class="vm" style="color: #6f7162;">渝公网安备 500120502032325</span>
		</div>
	</div>
</footer>