<div id="shz" class="tc">
	<div class="ma">
		<span class="active">说明书</span>
		<span>行业咨询</span>
		<span>知识点</span>
	</div>
	<ul class="tl ma">
		<li>
			<span>国内外丙肝治疗费用对比</span>
			<div>
				随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作
				<a href="">查看详情</a>
			</div>
		</li>
		<li>
			<span>国内外丙肝治疗费用对比</span>
			<div>
				随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作
				<a href="">查看详情</a>
			</div>
		</li>
		<li>
			<span>国内外丙肝治疗费用对比</span>
			<div>
				随时随地就可以咨询，免去路途奔波和只能在特定时间进行咨询的麻烦，对与惊恐发作
				<a href="">查看详情</a>
			</div>
		</li>
	</ul>
	<a href="" class="tc c3 ib mt20">查看更多&gt;&gt;</a>
</div>